{% extends "page.html" %}

{% block title %}{{ block.super }}Facturación{% endblock %}

{% block titulo %}
    <h1>
        Lista de Cajas
        <small>Módúlo de Facturación</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li>Módúlo de Facturación</li>
        <li class="active">Lista de Cajas</li>
    </ol>
{% endblock %}

{% block container %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!--Comienza el contenido!!!!!!!!!!!!!!!!!!!-->
    <section>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Registrar Caja</h3>
                        <div class="box-body">
                            <div class="col-md-9">
                                <div class="panel-page">
                                    {% if es_tesorero %}
                                        <div class="toolbar-header">
                                            <a class="btn btn-success" href='{% url "cash:cashier_create" %}'><i
                                                    class="fa fa-plus" aria-hidden="true"></i> Crear caja</a>
                                        </div>
                                    {% endif %}


                                    <div class="box-header with-border">
                                        <h3 class="box-title">Lista de Cajas</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="table-responsive no-padding">

                                            <table class="table table-hover">
                                                <tbody>
                                                <tr>
                                                    <th>Ítem</th>
                                                    <th>Número de Caja</th>
                                                    <th>Descripción</th>
                                                    <!-- <th>Estado</th>
                                                    <th>Eliminado</th> -->
                                                    <th>Acciones</th>

                                                </tr>
                                                {% for cashier in object_list %}
                                                    {% if cashier.colegio.id_colegio == idcolegio %}
                                                        <tr>
                                                            {% if cashier.eliminado == False %}
                                                            {% else %}
                                                                <td>{{ forloop.counter }}</td>
                                                                <td>{{ cashier.numero }}</td>
                                                                {% if cashier.descripcion == None %}
                                                                    <td>No hay descripción</td>
                                                                {% else %}
                                                                    <td>{{ cashier.descripcion }}</td>
                                                                {% endif %}


                                                                <!--

                                                    <td>
                                                        {% if cashier.activo == 1 %}
                                                            <span class="label label-success">Activo</span>
                                                        {% else %}
                                                            <span class="label label-danger">Desactivado</span>
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ cashier.eliminado }}</td> -->

                                                                <td>
                                                                    <div class="btn-group btn-group-sm" role="group"
                                                                         aria-label="...">
                                                                        {% if permiso_para_editar == True %}
                                                                            <a title="Editar"
                                                                               href='{% url "cash:cashier_edit" cashier.id_caja %}'
                                                                               class="btn btn-default">
                                                                                <i class="fa fa-pencil"
                                                                                   aria-hidden="true"></i>
                                                                            </a>
                                                                        {% else %}

                                                                            <a title="Editar"
                                                                               onclick="no_tiene_permisos()"
                                                                               class="btn btn-default">
                                                                                <i class="fa fa-pencil"
                                                                                   aria-hidden="true"></i>
                                                                            </a>
                                                                            <script>
                                                                                function no_tiene_permisos() {
                                                                                    alert("Este usuario no tiene privilegios para modificar caja. Contacte con el tesorero");
                                                                                }
                                                                            </script>
                                                                        {% endif %}

                                                                        <a title="Detalle"
                                                                           href='{% url "cash:cashier_detail" cashier.id_caja %}'
                                                                           class="btn btn-default">
                                                                            <i class="fa fa-info-circle"
                                                                               aria-hidden="true"></i>
                                                                        </a>
                                                                        <!--<a title="Eliminar" href="{% url 'cash:cashier_delete' cashier.id_caja %}" class="btn btn-default">
                                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                            </a>-->
                                                                    </div>
                                                                </td>
                                                            {% endif %}

                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- /.FIN DE CONTENIDO -->
    <!-- /.FIN DE CONTENEDOR DE FORMULARIO  -->



    <!--Fin del contenido!!!!!!!!!!!-->

{% endblock container %}

