{% extends "page.html" %}

{% block title %}{{ block.super }}Pagos{% endblock %}

<!-- HEADER INFO PAGE UBICACION -->
{% block titulo %}
      <h1>
        Tipos de Pagos
        <small>Módulo de Facturación</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li>Módulo de Facturación</li>
        <li class="active">Lista de Tipos de Pagos</li>
      </ol>
{% endblock %}
<!-- FIN DE INFO PAGE UBICACION -->

{% block container %}

  <!-- INICIA CONTENDOR DE FORMULARIOS -->
  <div>
    <!-- INICIO DE CONTENIDO -->
    <section>
      <div class="row">
          <div class="col-md-12">
              <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Lista de Tipos de Pagos</h3>
                </div>
                <div class="box-body">
                  <div class="col-md-9">
                    <div class="panel-page">

                      <div class="panel-body">

                        <div class="toolbar-header">
                            <a class="btn btn-success" href="{% url 'payments:tipopago_create' %}"><i class="fa fa-plus" aria-hidden="true"></i>Registrar Tipo de Pago</a>
                        </div>
                        <!-- INICIA LA LISTA DE REGISTROS -->
                        <div class="page-header">

                          <h3>Bienes</h3>
                        </div>
                          <!-- Bienes -->

                          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                              <div class="panel panel-default">
                                  <div class="panel-heading">
                                      <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne" class="" aria-expanded="true">
                                              Bienes</a>
                                      </h4>
                                  </div>
                                  <div id="collapseOne" class="panel-collapse collapse" aria-expanded="true">
                                      <div class="panel-body">
                                          <div class="panel-group" id="accordion2">
                                                <div class="panel-body">
                                                    <!-- <p>Es un bien, no esta eliminado y No tiene ID_PARENT, Como no tienen padre muestran descripción</p>
                                                    Panel 1                                -->
                                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                        <div class="panel-body">
                                                            <h4>Lista de Bienes</h4>
                                                            <table class="table">
                                                                <tr class="table-header">
                                                                    <th>Ítem</th>
                                                                    <th>Descripción</th>
                                                                    <th>Acciones</th>
                                                                </tr>
                                                                <tbody>
                                                                {% for tipopago in object_list %}
                                                                    {% if tipopago.tipo == 0 and tipopago.eliminado == 0  %}
                                                                        {% if tipopago.padre == None %}
                                                                            <tr>
                                                                                <th scope="row">{{ forloop.counter }}</th>
                                                                                <td>{{ tipopago.descripcion }}</td>
                                                                                <td>
                                                                                    <div class="btn-group btn-group-sm" role="group" aria-label="...">

                                                                                        <a title="Detalle" href='{% url "payments:tipopago_detail" tipopago.id_tipo_pago %}' class="btn btn-default">
                                                                                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                                                                                        </a>
                                                                                        <a title="Eliminar" href="{% url 'payments:tipopago_delete' tipopago.id_tipo_pago %}" class="btn btn-default">
                                                                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                                                                        </a>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                          </div>

                        <!-- FIN DE Bienes -->

                        <div class="page-header">
                          <h3>Servicios</h3>
                        </div>

                        <!-- Servicios -->

                          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                              <div class="panel panel-default">
                                  <div class="panel-heading">
                                      <h4 class="panel-title">
                                          <a data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo" class="" aria-expanded="true">
                                              Servicios</a>
                                      </h4>
                                  </div>
                                  <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="true">
                                      <div class="panel-body">
                                          <div class="panel-group" id="accordion2">

                                              <div class="panel-body">
                                                    <!-- <p>Es un bien, no esta eliminado y No tiene ID_PARENT, Como no tienen padre muestran descripción</p>
                                                    Panel 1                                -->
                                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                        <div class="panel-body">
                                                            <h4>Lista de Servicios</h4>
                                                            <table class="table">
                                                                <tr class="table-header">
                                                                    <th>Ítem</th>
                                                                    <th>Descripción</th>
                                                                    <th>Acciones</th>
                                                                </tr>
                                                                <tbody>
                                                                    {% for tipopago in object_list %}
                                                                        {% if tipopago.tipo == 1 and tipopago.eliminado == 0  %}
                                                                            {% if tipopago.padre == None %}
                                                                                <tr>
                                                                                    <th scope="row">{{ forloop.counter }}</th>
                                                                                    <td>{{ tipopago.descripcion }}</td>
                                                                                    <td>
                                                                                        <div class="btn-group btn-group-sm" role="group" aria-label="...">

                                                                                            <a title="Detalle" href='{% url "payments:tipopago_detail" tipopago.id_tipo_pago %}' class="btn btn-default">
                                                                                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                                                                            </a>
                                                                                            <a title="Eliminar" href="{% url 'payments:tipopago_delete' tipopago.id_tipo_pago %}" class="btn btn-default">
                                                                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                                                            </a>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>



                          </div>




                        <!-- FIN DE Servicios -->

                        <!-- FIN DE LA LISTA DE REGISTRO -->
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">

                  </div>
                </div>
              </div>
          </div>
      </div>
    </section>
    <!-- /.FIN DE CONTENIDO -->
  </div>
  <!-- /.FIN DE CONTENEDOR DE FORMULARIO  -->

{% endblock container %}

