{% extends "page.html" %}
{% block title %}{{ block.super }}Tipo de Pago{% endblock %}

{% block container %}

    <!--Comienza el contenido!!!!!!!!!!!!!!!!!!!-->
    <!-- INICIA CONTENDOR DE FORMULARIOS -->
    <div class="content-wrapper">
        <!-- HEADER INFO PAGE UBICACION -->
        <section class="content-header">
            <h1>
                Control de pagos
                <small>Modúlo de pagos</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
                <li>Modúlo de Pagos</li>
                <li class="active">Control de Pagos</li>
            </ol>
        </section>
        <!-- FIN DE INFO PAGE UBICACION -->
        <!-- INICIO DE CONTENIDO -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Tipos de Pago</h3>
                            <div class="box-body">
                                <div class="col-md-9">
                                    <div class="panel-page">

                                        <div class="box-body">
                                            <form class="form-horizontal" method="post">
                                                {% csrf_token %}
                                                <div style="display: none;">
                                                {{ form.eliminado }}
                                                {{ form.activo }}
                                                {{ form.colegio }}
                                                </div>
                                                <!--<div class="form-group">
                                                    <label class="col-sm-3 control-label">Tipo de pago padre</label>
                                                    <div class="col-sm-9">
                                                        {{ form.padre }}
                                                    </div>
                                                </div>-->
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Tipo</label>
                                                    <div class="col-sm-9">
                                                        <script type="text/javascript">
                                                            function mostrar( obj ){
                                                                var tuinput = document.getElementById("describe") ;
                                                                tuinput.value = "" + obj[ obj.selectedIndex ].value ;
                                                            }
                                                            </script>
                                                        <select class="form-control" name="prioridad" onchange="mostrar(this);" >
                                                            <option>--------</option>
                                                            <option value="0">Bienes</option>
                                                            <option value="1">Servicios</option>
                                                        </select>
                                                        {{ form.tipo }}
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Descripción</label>
                                                    <div class="col-sm-9">
                                                        {{ form.descripcion }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-offset-3 col-sm-9">
                                                        <a href="{% url 'payments:tipopago_list'  %}" class="btn btn-default" >Cancelar</a>
                                                        <button type="submit" class="btn btn-success">Registrar Tipo de Pago</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
        </section>
        <!-- /.FIN DE CONTENIDO -->
    </div>
    <!-- /.FIN DE CONTENEDOR DE FORMULARIO  -->

    <!--Fin del contenido!!!!!!!!!!!-->

{% endblock container %}
