{% extends "page.html" %}

{% block title %}{{ block.super }}Matrícula{% endblock %}


<!-- HEADER INFO PAGE UBICACION -->
{% block titulo %}
        <h1>
            Matrícula
            <small>Módulo de Matrícula</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li>Módulo de Matrícula</li>
            <li class="active">Lista de Matriculados</li>
        </ol>
{% endblock %}
<!-- FIN DE INFO PAGE UBICACION -->

{% block container %}
    <div>
        <!-- INICIO DE CONTENIDO -->
        <section>
              <div class="row">
                  <div class="col-md-12">
                      <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Lista de Alumnos Matriculados</h3>
                        </div>

                          <div class="box-body">
                                  <div class="col-md-12">
                                    <div class="panel-page">
                                        <div class="toolbar-header">

                                            <a class="btn btn-success" href="{% url 'enrollments:filtrar_alumno' %}"><i class="fa fa-plus" aria-hidden="true"></i>
         Matricular Alumno</a>
                                        </div>
                                    </div>

                        {% if matriculados %}
                            <table class="table table-hover">
                                          <tr class="table-header">
                                            <th>Apellidos y Nombres</th>
                                            <th>Detalle</th>
                                            <th class="text-center">Acciones</th>
                                          </tr>
                                {% for matricula in matriculados %}
                                    <form id="{{ matricula.id_matricula}}" > {% csrf_token %}
                                    <input hidden  value="{{ matricula.id_matricula}}" name="matricula">
                                </form>
                                    <form id="1" class="form-horizontal"></form>
                                          <tr>
                                            <td>{{ matricula.alumno.persona.getNombreFormal }}</td>
                                            <td>{{ matricula.tipo_servicio }}</td>
                                                <td>
                                                  <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                                    <button type="submit" formaction="{% url 'enrollments:matricula_detail' matricula.id_matricula %}" class="btn btn-default" value="Ver" form="1">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                                </button>
                                                    <button type="submit" formaction="{% url 'enrollments:matricula_update' %}" value="Modificar" formmethod="post" class="btn btn-default" form = "{{ matricula.id_matricula}}">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                                                    <button type="submit" onclick="return confirmDel();" formaction="{% url 'enrollments:matricula_delete'%}" value="Borrar" formmethod="get" class="btn btn-default" form="{{ matricula.id_matricula}}">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                                                      <button type="submit" formaction="{% url 'enrollments:solicitar_descuento'%}" value="Solicitar" formmethod="post" class="btn btn-default" form="{{ matricula.id_matricula}}">
                                    <i class="fa fa-percent" aria-hidden="true"></i>
                                </button>
                                                  </div>
                                                </td>
                                          </tr>
                                {% endfor %}
                            </table>
                        {% else %}
                            <div class="alert alert-warning">
                                No se encuentran <strong>alumnos matriculados</strong>

                            </div>
                        {% endif %}


                                  </div>
                          </div>


                      </div>
                  </div>
              </div>
        </section>
    </div>
{% endblock container %}

{% block scripts %}

<script language="Javascript">
function confirmDel()
{
  var agree=confirm("¿Realmente desea eliminarlo? ");
  if (agree)
    return true ;
  else
    return false ;
}
</script>


{% endblock %}