{% extends "page.html" %}

{% block title %}{{ block.super }}Matricula{% endblock %}

{% block breadcrumb %}
<h1>
        Lista de Matriculados
        <small>Modúlo Matricula</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Modúlo Matricula</li>
      </ol>
{% endblock %}



{% block container %}
<section class="content">
      <div class="row">
          <div class="col-md-12">
              <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Detalles del Servicio</h3>
                </div>

                {% for matricula in object_list %}
                    <li >
                        {{matricula}}
                        <form id="{{ matricula.id_matricula}}" > {% csrf_token %}
                            <input hidden  value="{{ matricula.id_matricula}}" name="matricula">
                        </form>
                        <form id="1" class="form-horizontal"></form>
                        <button type="submit" formaction="{% url 'enrollments:matricula_detail' matricula.id_matricula %}" class="btn btn-default" value="Ver" form="1">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </button>
                        <button type="submit" formaction="{% url 'enrollments:matricula_update' %}" value="Modificar" formmethod="post" class="btn btn-default" form = "{{ matricula.id_matricula}}">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                        <button type="submit" formaction="{% url 'enrollments:matricula_delete' %}" value="Borrar" formmethod="post" class="btn btn-default" form="{{ matricula.id_matricula}}">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </li>
                {% empty %}
                    <li>No hay ningun alumno matriculado </li>
                {% endfor %}

                <form action="{% url 'enrollments:filtrar_alumno' %}" class="form-horizontal">
                    <input type="submit" value="Nueva Matricula" class="btn btn-default">
                </form>
              </div>
          </div>
      </div>
</section>
{% endblock container %}