{% extends "page.html" %}

{% block title %}{{ block.super }}Matrícula{% endblock %}

{% block titulo %}
    <h1>
        Creación de Pagos
        <small>Módulo de Matrícula</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li>Módulo Matrícula</li>
          <li>Lista de Servicios</li>
        <li class="active">Crear Pagos</li>
    </ol>
{% endblock %}

{% block container %}
{% load crispy_forms_tags %}



        <section class="content">
          <div class="row">
              <div class="col-md-12">
                  <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Servicios</h3>
                    </div>
                    <div class="box-body">
                      <div class="col-md-9">
                        <div class="box-body">
                            <!-- BAR CHART -->
                            <div class="box box-success">
                              <div class="box-header with-border">
                                <h3 class="box-title">Asociar Pago a un Nivel</h3>
                              </div>
                              <div class="box-body">
                              {% if mensaje_error %}
                                <div class="alert alert-warning">
                                    <strong>¡Alerta!</strong> Primero debe registrar los grados.
                                </div>
                              {% endif %}
                                <form action="" method="POST" class="form-horizontal" id="2">{% csrf_token %}
                                  <div class="form-group">
                                    <label class="col-sm-2 control-label"for="id_nivel_grados">Nivel:</label>
                                    <div class="col-sm-10">

                                            <select name="nivel_grados" class="form-control" id="id_nivel_grados">
                                                {% for nivel in niveles %}
                                                    {% if nivel == 1 %}
                                                        <option value="1">Inicial</option>
                                                    {% endif %}
                                                    {% if nivel == 2 %}
                                                        <option value="2">Primaria</option>
                                                    {% endif %}
                                                    {% if nivel == 3 %}
                                                        <option value="3">Secundaria</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                      <label for="id_nombre" class="col-sm-2 control-label">Concepto de Pago:</label>
                                    <div class="col-sm-10">
                                      {{ form.nombre }}
                                    </div>
                                  </div>

                                  <div class="form-group">
                                      <label for="id_precio" class="col-sm-2 control-label">Monto:</label>

                                    <div class="col-sm-10">
                                      {{ form.precio }}
                                    </div>
                                  </div>
<!--
                                  <div class="form-group">
                                    <label for="id_cuotas" class="col-sm-2 control-label">N° de Meses</label>
                                    <div class="col-sm-10">

                                    </div>
                                  </div>
-->
                                  <div class="form-group">
                                    <label for="id_fecha_facturar2" class="col-sm-2 control-label">Día Generación de Deuda</label>
                                    <div class="col-sm-10">
                                      <div class="input-group date">
                                                        <input type="text" name="fecha_facturar" tabindex="8" class="form-control" required="" id="id_fecha_facturar2">
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                      <a href="{% url 'enrollments:tiposervicio_list' %}" class="btn btn-default">Cancelar</a>
                                      <button type="submit" form="2" formaction="{% url 'enrollments:servicioregularcompleto_create' %}" class="btn btn-success">Asignar Precio</button>
                                    </div>
                                  </div>
                                </form>

                              </div>


                              <div class="box-header with-border">
                                <h3 class="box-title">Asociar Pago a Servicio</h3>
                              </div>
                              <div class="box-body">


                                <form action="" method="POST" class="form-horizontal" id="1">{% csrf_token %}
                                  <div class="form-group">
                                    <label class="col-sm-2 control-label"for="id_tipo_servicio">Nivel/Grado:</label>
                                    <div class="col-sm-10">
                                      <select name="tipo_servicio" required="" id="id_tipo_servicio" class="form-control">
                                            {% for servicio in tiposervicio %}
                                                <option value="{{ servicio.id_tipo_servicio }}">{{ servicio }} </option>
                                            {% endfor %}
                                      </select>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                      <label for="id_nombre" class="col-sm-2 control-label">Concepto de Pago:</label>
                                    <div class="col-sm-10">
                                      {{ form.nombre }}
                                    </div>
                                  </div>

                                  <div class="form-group">
                                      <label for="id_precio" class="col-sm-2 control-label">Monto:</label>

                                    <div class="col-sm-10">
                                      {{ form.precio }}
                                    </div>
                                  </div>
<!--
                                  <div class="form-group">
                                    <label for="id_cuotas" class="col-sm-2 control-label">N° de Meses</label>
                                    <div class="col-sm-10">

                                    </div>
                                  </div>
-->
                                  <div class="form-group">
                                    <label for="id_fecha_facturar" class="col-sm-2 control-label">Día Generación de Deuda</label>
                                    <div class="col-sm-10">
                                      <div class="input-group date">
                                                        {{ form.fecha_facturar }}
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                      <a href="{% url 'enrollments:tiposervicio_list' %}" class="btn btn-default">Cancelar</a>
                                      <button type="submit" form="1" class="btn btn-success">Asignar Precio</button>
                                    </div>
                                  </div>
                                </form>

                              </div>










                            </div>
                            <!-- BAR CHART -->


                        </div>

                        </div>
                        </div>


                      </div>
                      <div class="col-md-3"></div>

                    </div>



          </div>
        </section>


{% endblock container %}

{% block scripts %}
    {{ form.media }}
    <script>
    $(function () {
      //Date range picker
        $('#id_fecha_facturar').datepicker(
            {
                format: 'mm/dd/yyyy'
            }
        );


    });
    </script>

    <script>
    $(function () {
      //Date range picker
        $('#id_fecha_facturar2').datepicker(
            {
                format: 'yyyy-mm-dd'
            }
        );


    });
    </script>
{% endblock scripts %}