{% extends "page.html" %}

{% block title %}{{ block.super }}Matrícula{% endblock %}

{% block titulo %}
    <h1>
        Creación de Pagos
        <small>Módulo de Matrícula</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li>Módulo Matrícula</li>
          <li>Lista de Servicios</li>
        <li class="active">Crear Pagos</li>
    </ol>
{% endblock %}

{% block container %}
<h1>Servicio</h1>
<ul>
    <form >
        {% for servicio in object_list %}
            <li>
                {{servicio}}
                <input type="submit" formaction="../listservicios/{{ servicio.id_servicio }}" value="Ver">
                <input type="submit" formaction="../listservicios/{{ servicio.id_servicio }}/update" value="Modificar">
                <input type="submit" formaction="../listservicios/{{ servicio.id_servicio }}/delete" value="Borrar">
            </li>
        {% empty %}
            <li>No hay tipos de servicio</li>
        {% endfor %}
    </form>
</ul>
<form >
    <input type="submit" formaction="../listservicios/create/" value="Crear Servicio">
    <input type="submit" formaction="/servicios/list/" value="Volver">
</form>
{% endblock container %}