{% extends "page.html" %}

{% block title %}{{ block.super }}Matricula{% endblock %}

{% block breadcrumb %}
<h1>
        Detalles del Servicio
        <small>Modúlo Matricula</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li>Modúlo Matricula</li>
        <li>Lista de servicios</li>
        <li class="active">Detalle del Servicio</li>
      </ol>
{% endblock %}


{% block container %}
<section class="content">
      <div class="row">
          <div class="col-md-12">
              <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Detalles del Servicio</h3>
                <div class="box-body">

                <form role="form" name="search" action="" class="form-horizontal">


                 <dl class="dl-horizontal">
                  <dt>Tipo Servicio</dt>
                  <dd>{{ servicio.tipo_servicio }}</dd>
                </dl>

               <dl class="dl-horizontal">
                  <dt>Descripción</dt>
                  <dd> {{ servicio.nombre }} </dd>
                </dl>

                <dl class="dl-horizontal">
                  <dt>Precio</dt>
                  <dd>{{ servicio.precio }}</dd>
                </dl>

                 <dl class="dl-horizontal">
                  <dt>Fecha a Facturar</dt>
                  <dd>{{ servicio.fecha_facturar }}</dd>
                </dl>

                 <dl class="dl-horizontal">
                  <dt>Cuotas</dt>
                  <dd>{{ servicio.cuotas }}</dd>
                </dl>

                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <a type="submit" href="javascript:history.back()" class="btn btn-default"><i class="fa fa-reply" aria-hidden="true"></i>Volver</a>

                  </div>
                </div>
                </form>

              </div>
          </div>
      </div>
          </div>
      </div>
</section>
{% endblock container %}