{% extends "page.html" %}

{% block title %}{{ block.super }}Matrícula{% endblock %}

{% block titulo %}
    <h1>
        Actualización de Grados
        <small>Módulo de Matrícula</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li>Módulo Matrícula</li>
        <li>Lista de Servicios</li>
        <li class="active">Actualización de Grados</li>
    </ol>
{% endblock %}

{% block container %}

        <div class="row">
            <div class="col-md-12">
              <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Actualización de Servicio Regular</h3>
                </div>
                <div class="box-body">
                    <form action="" method="POST" class="form-horizontal" id="1">{% csrf_token %}
                        {% csrf_token %}
                        {{ form.as_p}}
                    </form>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <a class="btn btn-default" href="{% url 'enrollments:tiposervicio_list' %}">Cancelar</a>
                            <button type="submit" class="btn btn-success" formaction="{% url 'enrollments:tiposervicioregularend_update' idtipo %}" form="1" formmethod="post">Actualizar Servicio</button>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>

{% endblock container %}