{% extends "page.html" %}

{% block title %}{{ block.super }}Matricula{% endblock %}


{% block container %}
{% load crispy_forms_tags %}
<h2>Actualización de Servicio Regular</h2>
    <div class="box-body">
        <form action="" method="POST" class="form-horizontal" id="1">{% csrf_token %}
            {% csrf_token %}
            {{ form.as_p}}
        </form>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a class="btn btn-default" href="{% url 'enrollments:tiposervicio_list' %}">Cancelar</a>
                <button type="submit" class="btn btn-success" formaction="{% url 'enrollments:tiposervicioregularend_update' idtipo %}" form="1" formmethod="post">Actualizar servicio</button>
            </div>
        </div>

    </div>
{% endblock container %}