{% extends "page.html" %}

{% block title %}{{ block.super }}Matricula{% endblock %}

{% block container %}
<h1>Tipos de Servicio</h1>
<ul>
    <form >
        {% for tiposervicio in object_list %}
            <li>
                {{tiposervicio}}
                <input type="submit" formaction="../typeservice/detail/{{ tiposervicio.id_tipo_servicio }}" value="Ver">
                <input type="submit" formaction="../typeservice/update/" value="Modificar">
                <input type="submit" formaction="../typeservice/delete/" value="Borrar">
                <input type="submit" formaction="../service/" value="Servicios">
            </li>
        {% empty %}
            <li>No hay tipos de servicio</li>
        {% endfor %}
    </form>
</ul>
<form action="../typeservice/create/">
    <input type="submit" value="Crear Tipo de Servicio">
</form>

<input type="file" name="" />
{% endblock container %}