{% extends "page.html" %}

{% block title %}{{ block.super }}Matricula{% endblock %}


{% block container %}
{% load crispy_forms_tags %}
<h2>Nuevo Servicio Regular</h2>
    <div class="box-body">
        <form action="" method="POST" class="form-horizontal" id="1">{% csrf_token %}
            {% csrf_token %}
            {{ form1.as_p}}
        </form>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a class="btn btn-default" href="{% url 'enrollments:tiposervicio_list' %}">Cancelar</a>
                <button type="submit" class="btn btn-success" formaction="{% url 'enrollments:tiposervicio_create_regular' %}" form="1">Crear servicio</button>
            </div>
        </div>

    </div>
<h2>Nuevo Servicio Extracurricular</h2>
    <div class="box-body">
        <form action="" method="POST" class="form-horizontal" id="2">{% csrf_token %}
            {% csrf_token %}
            {{ form2.as_p }}
        </form>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a class="btn btn-default" href="{% url 'enrollments:tiposervicio_list' %}">Cancelar</a>
                <button type="submit" formaction="{% url 'enrollments:tiposervicio_create_extra' %}" class="btn btn-success" form="2">Crear servicio</button>
            </div>
        </div>

    </div>


{% endblock container %}