{% extends "page.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}{{ block.super }}Profile{% endblock %}

<!-- Benefits of the Django application -->
{% block container %}

    <div class="container">
        <h1 class="text-primary">Editar Perfil</h1>
        <hr>
        <div class="row">
            <!-- left column -->
            <div class="col-md-3">
                <div class="text-center">
                    <img title="profile picture" class="img-circle img-responsive"
                         src="{% thumbnail user.profile.picture|default:'default_profile.png' 140x140 crop %}">
                </div>
            </div>

            <!-- edit form column -->
            <div class="col-md-8">
                <h3>Información Personal</h3>
                <form enctype="multipart/form-data" method="post">
                    {% crispy user_form %}
                    {% crispy profile_form %}
                    <a class="btn btn-default pull-right" href="{% url 'accounts:password-change' %}">Cambiar Contraseña</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


