{% extends "page.html" %}

{% load staticfiles %}
{% load thumbnail %}

{% block title %}{{ block.super }}Profile{% endblock %}

{% block container %}

    <div class="container profile-head">
        <div class="row">
            <div class="col-sm-10">
                <h1>{{ show_user.get_full_name }}</h1>
                {% if editable %}
                    <a href="{% url 'profiles:edit_self' %}" class="btn btn-info">Editar Perfil</a>
                {% endif %}
            </div>
            <div class="col-sm-2"><img title="profile picture" class="img-circle img-responsive"
                                       src="{% thumbnail show_user.profile.picture|default:'default_profile.png' 140x140 crop %}">
            </div>
        </div>
    </div>

    <div class="container profile-body">
        <div class="row">
            <div class="col-sm-4">
                <ul class="list-group">
                    <li class="list-group-item text-muted">Perfil</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Email:</strong></span>
                        {{ show_user.email|default:"missing" }}
                        {% if show_user.profile.email_verified %}
                            <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"
                                  title="Este correo electrónico ha sido verificado"></span>
                            <span class="sr-only">Verified</span>
                        {% else %}
                            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"
                                  title="Este correo electrónico no esta verificado"></span>
                            <span class="sr-only">Not Verified</span>
                        {% endif %}
                    </li>
                    <li class="list-group-item text-right"><span
                            class="pull-left"><strong>Fecha Ingreso:</strong></span> {{ show_user.date_joined }}</li>
                    <li class="list-group-item text-right"><span
                            class="pull-left"><strong>Última Conexión:</strong></span> {{ show_user.last_login }}</li>
                </ul>
            </div>
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ show_user.get_full_name }}
                        {% if show_user.profile.slug %}
                            <a href="{% url 'profiles:show' show_user.profile.slug %}">
                                <span class="glyphicon glyphicon-link" aria-hidden="true"
                                      title="Profile permalink"></span>
                                <span class="sr-only">Permalink</span></a>
                        {% endif %}
                    </div>
                    <div class="panel-body">
                        <strong>Nombre </strong>:
                        {{ show_user.profile.nombre }}
                        <br>
                    <strong>Apellido paterno </strong>:
                        {{ show_user.profile.apellido_pa }}
                        <br>

                        <strong>Sobre mí </strong>:
                        {% if show_user.profile.bio == None %}
                            No hay información guardada
                        {% else %}
                            {{ show_user.profile.bio }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


