{% load staticfiles %}
{% load thumbnail %}
<aside class="main-sidebar">
    <!-- SIDEBAR -->
    <section class="sidebar">
      <!-- USER INFO -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="{% thumbnail user.profile.picture|default:'default_profile.png' 140x140 crop %}" class="img-circle" alt="" />
        </div>
        <div class="pull-left info">
          <p>{{ user.get_full_name|truncatechars:20 }}</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- FIN USER INFO -->

      {% with request.resolver_match.namespace as namespace %}
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MENÚ DE NAVEGACIÓN</li>


                <li >
                    <a href="{% url 'profiles:show_self' %}">
                <img src="{% static 'site/img/svg/user.svg' %}" width="22px" height="22px"/>
                <span>MI PERFIL</span>
              </a>
                </li>

            {% if perms.register.colegio_create %}
            <li class="treeview yellow">
                  <a href="#">
                    <img src="{% static 'site/img/svg/folder-document.svg' %}" width="22px" height="22px"/>
                    <span>Administración Interna</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li><a href="{% url 'registers:colegio_list' %}"><i class="fa fa-circle-o"></i> Registrar Colegio</a></li>
                  </ul>


            </li>
            {% endif %}

            {% if perms.register %}
            <li class="{% if namespace == 'registers' or namespace == 'accounts' %}active treeview orange {% else  %}treeview green{% endif %} ">
              <a href="#">
                <img src="{% static 'site/img/svg/user.svg' %}" width="22px" height="22px"/>
                <span>Registros</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">


                {% if perms.register.personal_list %}
                    <li><a href="{% url 'registers:personal_list' %}"><i class="fa fa-circle-o"></i> Listado Personas </a> </li>
                {% endif %}

                {% if perms.register.personal_create %}
                    <li><a href="{% url 'accounts:register_create' %}"><i class="fa fa-circle-o"></i> Registrar Personal</a></li>
                {% endif %}



                {% if perms.register.apoderado_create %}
                    <li><a href="{% url 'registers:apoderado_create' %}"><i class="fa fa-circle-o"></i> Registrar Apoderado</a></li>
                {% endif %}

                {% if perms.register.proveedor_list %}
                    <li><a href="{% url 'registers:proveedor_list' %}"><i class="fa fa-circle-o"></i> Registrar Proveedor</a></li>
                {% endif %}

                <!--
                {% if perms.sistemas.sistemas_create %}
                    <li><a href="{% url 'registers:sistemas_create' %}"><i class="fa fa-circle-o"></i> Usuario Sistemas</a></li>
                {% endif %}
                {% if perms.register.director_create %}
                    <li><a href="{% url 'registers:director_create' %}"><i class="fa fa-circle-o"></i> Director</a></li>
                {% endif %}
                {% if perms.register.tesorero_create %}
                    <li><a href="{% url 'registers:tesorero_create' %}"><i class="fa fa-circle-o"></i> Tesorero</a></li>
                {% endif %}
                {% if perms.register.cajero_create %}
                    <li><a href="{% url 'registers:cajero_create' %}"><i class="fa fa-circle-o"></i> Cajero</a></li>
                {% endif %}
                 -->

              </ul>
            </li>
            {% endif %}

            {% if  perms.enrollment.Matricula_List or perms.enrollment.Tipo_Servicio_List %}

            <li class="{% if namespace == 'enrollments' %}active treeview orange {% else  %}treeview blue{% endif %} ">
              <a href="#">
                <img src="{% static 'site/img/svg/notepad.svg' %}" width="22px" height="22px"/>
                <span>Matrícula</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
                <ul class="treeview-menu">
                    {% if perms.enrollment.Tipo_Servicio_List %}
                    <li><a href="{% url 'enrollments:tiposervicio_list' %}"><i class="fa fa-circle-o"></i> Administración de Grados</a></li>
                    {% endif %}
                    {% if perms.enrollment.Matricula_List %}
                    <li><a href="{% url 'enrollments:matricula_list' %}"><i class="fa fa-circle-o"></i> Matrícula</a></li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}



        {% if  perms.cash.Cashier_List or perms.cash.Consigment_Creation or perms.cash.Box_Cashier_Creation or perms.cash.Box_Cashier_List%}
        <li class="{% if namespace == 'cash' %}active treeview orange {% else  %}treeview green{% endif %} ">
                <a href="#">
                    <img src="{% static 'site/img/svg/folder-document.svg' %}" width="22px" height="22px"/>
                    <span>Caja</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    {% if perms.cash.Cashier_List %}
                    <li><a href="{% url 'cash:cashier_list' %}"><i class="fa fa-circle-o"></i> Manejo de Cajas</a></li>
                    {% endif %}
                    {% if perms.cash.Box_Cashier_Creation %}
                    <li><a href="{% url 'cash:boxcashier_AperturarCaja' %}"><i class="fa fa-circle-o"></i> Aperturar Caja</a></li>
                    {% endif %}
                    {% if perms.cash.Box_Cashier_List %}
                    <li><a href="{% url 'cash:boxcashier_list' %}"><i class="fa fa-circle-o"></i> Cerrar Caja</a></li>
                    {% endif %}
                    {% if perms.cash.Consigment_Creation %}
                    <li><a href="{% url 'cash:consignment_create' %}"><i class="fa fa-circle-o"></i> Crear Remesa</a></li>
                    {% endif %}
                    {% if perms.cash.Consigment_List %}
                    <li><a href="{% url 'cash:consignment_list' %}"><i class="fa fa-circle-o"></i> Detalle de Remesas</a></li>
                    {% endif %}
                </ul>
        </li>
        {% endif %}

        {% if perms.cash.Box_Cashier_Creation or perms.enrollment.control_ingresos_padres or perms.enrollment.control_ingresos_promotor_detalle%}
        <li class="{% if namespace == 'income' %}active treeview orange {% else  %}treeview green{% endif %} ">
          <a href="#">
            <img src="{% static 'site/img/svg/money.svg' %}" width="22px" height="22px"/>
            <span>Ingresos</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
                {% if perms.cash.Box_Cashier_Creation %}
                <li><a href="{% url 'income:register' %}"><i class="fa fa-circle-o"></i> Registrar Ingreso</a></li>
                {% endif %}
                {% if perms.enrollment.control_ingresos_padres %}
                    <li><a href="{% url 'income:cuentas_cobrar_padres' %}"><i class="fa fa-circle-o"></i> Detalle de Pagos</a></li>
                {% endif %}
                {% if perms.enrollment.control_ingresos_promotor %}
                    <li><a href="{% url 'income:cuentas_cobrar_promotor' %}"><i class="fa fa-circle-o"></i> Reporte de Recaudación</a></li>
                {% endif %}
                {% if perms.enrollment.control_ingresos_promotor_detalle %}
                    <li><a href="{% url 'income:cuentas_cobrar_promotor_detalle' %}"><i class="fa fa-circle-o"></i> Detalle de Ingresos</a></li>
                {% endif %}
          </ul>
        </li>
        {% endif %}


        {% if  perms.payments.Registrar_Pago_Create or perms.payments.control_pagos or perms.payments.add_tipopago%}
        <li class="{% if namespace == 'payments' %}active treeview orange {% else  %}treeview yellow{% endif %} ">
              <a href="#">
                <img src="{% static 'site/img/svg/folder-document.svg' %}" width="22px" height="22px"/>
                <span>Pagos</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                  {% if perms.payments.Registrar_Pago_Create %}
                      <li><a href="{% url 'payments:registrarpago_create' %}"><i class="fa fa-circle-o"></i> Registrar Pago</a></li>
                  {% endif %}
                  {% if perms.payments.control_pagos %}
                      <li><a href="{% url 'payments:pago_promotor' %}"><i class="fa fa-circle-o"></i> Control de Pagos</a></li>
                  {% endif %}
                  {% if perms.payments.add_tipopago %}
                      <li><a href="{% url 'payments:tipopago_list' %}"><i class="fa fa-circle-o"></i> Manejo de Pagos</a></li>
                  {% endif %}
              </ul>
        </li>
        {% endif %}

        {% if perms.discounts.Solicitar_Descuento or perms.discounts.aprobar_descuento or perms.discounts.detalle_descuento %}
        <li class="{% if namespace == 'discounts' %}active treeview orange {% else  %}treeview purple{% endif %} ">
              <a href="#">
                <img src="{% static 'site/img/svg/tag.svg' %}" width="22px" height="22px"/>
                <span>Descuentos</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                  {% if perms.discounts.Solicitar_Descuento %}
                      <li><a href="{% url 'discounts:tipo_descuento_list' %}"><i class="fa fa-circle-o"></i> Lista de Tipos de Descuento</a></li>
                  {% endif %}
                  {% if perms.discounts.Solicitar_Descuento %}
                      <li><a href="{% url 'discounts:tipo_descuento_create' %}"><i class="fa fa-circle-o"></i> Manejo de Descuentos</a></li>
                  {% endif %}
                  {% if perms.discounts.aprobar_descuento %}
                      <li><a href="{% url 'discounts:aprobar_descuentos' %}"><i class="fa fa-circle-o"></i> Aprobar Solicitud</a></li>
                  {% endif %}
                  {% if perms.discounts.detalle_descuento %}
                      <li><a href="{% url 'discounts:detalle_descuentos' %}"><i class="fa fa-circle-o"></i> Detalle de Solicitudes</a></li>
                  {% endif %}
              </ul>
        </li>
        {% endif %}

        <li class="{% if namespace == 'academic' %}active treeview orange {% else  %}treeview purple{% endif %} ">
              <a href="#">
                <img src="{% static 'site/img/svg/folder-document.svg' %}" width="22px" height="22px"/>
                <span>Académico</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">

                  <li><a href="{% url 'academic:aula_list' %}"><i class="fa fa-circle-o"></i> Lista de Aulas</a></li>


                  <li><a href="{% url 'academic:curso_list' %}"><i class="fa fa-circle-o"></i> Lista de Cursos</a></li>


                  <li><a href="{% url 'academic:asistencia_registrar_dia' %}"><i class="fa fa-circle-o"></i> Registrar Asistencia</a></li>


                  <li><a href="{% url 'academic:notas_registrar' %}"><i class="fa fa-circle-o"></i> Registrar Notas</a></li>


                  <li><a href="{% url 'academic:evento_create' %}"><i class="fa fa-circle-o"></i> Registrar Evento</a></li>

              </ul>
        </li>

      </ul>
      {% endwith %}

    </section>
    <!-- FIN SIDEBAR -->
  </aside>
