{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Inicio{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
<a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
<!--<a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>-->
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block splash %}

{% endblock splash %}

{% block container %}

    <!-- BANNER PRINCIPAL -->
			<section id="banner">
				<div class="content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="panel-welcome">
                                    <h1>Acerca de nosotros</h1>
                                    <p>
                                        En Mundo Pixel S.A.C estamos comprometidos con el desarrollo de la educación, por lo que nos aseguraremos de brindar sistemas con altos estándares de calidad y un excelente servicio, satisfaciendo las necesidades de la comunidad educativa por encima de sus expectativas. Además, altos niveles de seguridad desde la nube.
                                    </p>
                                    <ul class="actions">
                                        <li><a href="#one" class="button scrolly">Conoce nuestro producto</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <img class="img-responsive" src="{% static 'site/img/phone.png' %}">
                            </div>
                        </div>

                    </div>
				</div>
			</section>

    <!-- SECCION UNO -->
			<section id="one" class="wrapper">
                <div class="title">
                    <h2>Especialistas en tecnología educativa</h2>
                </div>
				<div class="inner flex flex-3">
					<div class="flex-item left">
						<div>
							<h3>Super fácil de usar</h3>
							<p>Interfaz gráfica amigable, moderna e intuitiva, para un manejo rápido de tus procesos.</p>
						</div>
						<div>
							<h3>Reducción de tiempos y costos</h3>
                            <p>Generé estadísticas, cálculos, promedios, reportes académicos de la manera más sencilla y rápida.</p>

						</div>
					</div>
					<div class="flex-item image fit round">
						<img class="img-responsive" src="{% static 'site/img/laptop_app.png' %}" alt="Apps" />
					</div>
					<div class="flex-item right">
						<div>
							<h3>Soporte 24/7 siempre</h3>
							<p>Soporte Técnico 24/7, todos los usuarios acceden a información útil actualizada al momento para el manejo de los módulos.</p>
						</div>
						<div>
							<h3>No requiere inversión adicional</h3>
                            <p>No requiere de software o hardware adicional ya que nuestra plataforma utiliza los servicios cloud (Amazón, Azure)</p>
						</div>
					</div>
				</div>
			</section>
    <!-- SECCION DOS -->
			<section id="two" class="wrapper style1 special">
				<div class="inner">
					<h2>Integra a toda la comunidad educativa en un sola APP</h2>
					<figure>
					    <blockquote>
					        Brindamos soluciones tecnológicas en el campo educativo, permitiendo mejorar y agilizar los procesos administrativos y pedagógicos de tu institución educativa.
Todo esto a través de nuestro módulo de gestión de facturación, Académico, Agenda Escolar, reportes de asistencias y pagos de pensión, calendario y horarios académicos, entre otros.

					    </blockquote>
					    <div class="text-center">
                            <img src="{% static 'site/img/app_movil.png' %}">
                        </div>
                        <div class="data-center">
                            Mundo Pixel S.A.C garantiza su confianza y seguridad al estar hospedado en
                            los mejores servidores del mercado, como lo son Amazon y Microsoft Azure.
                            <div class="server">
                                <img src="{% static 'site/img/logo_amazon.png' %}">
                                <img src="{% static 'site/img/logo_azure.png' %}">
                            </div>
                        </div>
					</figure>
				</div>
			</section>
    <!-- SECCION TRES -->
			<section id="three" class="wrapper">
				<div class="inner flex flex-3">
					<div class="flex-item box">
						<div class="image fit">
							<img src="{% static 'site/img/facturacion.jpg' %}" alt="Módulo Facturación" />
						</div>
						<div class="content">
							<h3>Sistema de Facturación</h3>
							<p>Lleva de forma eficiente el control de ingresos y egresos de tu escuela. Genera pagos referenciados
                                 en línea, emite facturas electrónicas e informes financieros.</p>
						</div>
					</div>
					<div class="flex-item box">
						<div class="image fit">
							<img src="{% static 'site/img/agenda.jpg' %}" alt="Módulo Agenda Escolar" />
						</div>
						<div class="content">
							<h3>Agenda Escolar</h3>
							<p>¡Mide y mejora el desempeño de tu institución! Permite a los profesores revisar y calificar en línea a sus estudiantes diariamente para obtener mejores resultados educativos.
                                </p>
						</div>
					</div>
					<div class="flex-item box">
						<div class="image fit">
							<img src="{% static 'site/img/academico.jpg' %}" alt="Módulo Académico" />
						</div>
						<div class="content">
							<h3>Sistema Académico</h3>
							<p>Realiza procesos ágiles para inscribir, evaluar y generar documentos que harán más productivo y eficiente a tu equipo de servicios escolares, ¡desde cualquier parte del mundo!
                                </p>
						</div>
					</div>
				</div>
			</section>
{% endblock container %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}

