{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Inicio{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
<a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
<!--<a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>-->
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block splash %}
  <div class="jumbotron jumbotron-carousel corporate-jumbo">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8">
            <!--
          <h1>{% include "_brandname.html" %}</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
	  <a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up for Free!</a>-->
        </div>
        <div class="col-md-4 col-sm-4">

        </div>
      </div>
    </div>
  </div>
{% endblock splash %}

{% block container %}
<!-- Benefits of the Django application -->
<a name="about"></a>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2>Gestión</h2>
      <p>Gestión de alumnos adaptada al centro, evaluación flexible, gestión económica avanzada, transporte, comedor, gestión integral de actividades extraescolares, herramientas de seguimiento del alumno, informes y listados personalizables, documentación oficial garantizada… </p>
      <!--<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p> -->
    </div>
    <div class="col-lg-4">
      <h2>Comunicación</h2>
      <p>Totalmente web, permite la comunicación en tiempo real a través de múltiples canales: web, sms, email, APP. Todas las herramientas para conectar a tu comunidad educativa. </p>
      <!-- <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p> -->
    </div>
    <div class="col-lg-4">
      <h2>Integración</h2>
      <p>Mundo Pixel se conecta con herramientas de aprendizaje, horarios, bibliotecas, calidad o contabilidad, permitiendo una gestión mucho más eficiente. Además, dispone de diversos métodos poder extraer información e incluirla en otras herramientas del centro.</p>
       <!--<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>-->
    </div>
  </div>
</div>

{% endblock container %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}

