{% extends "page.html" %}
{% load staticfiles %}

{% block breadcrumb %}
<h1>
        Control de Pagos
        <small>Modúlo de facturación</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li>Modúlo de facturación</li>
        <li class="active">Control de Pagos</li>
      </ol>
{% endblock %}

{% block container %}

      <!-- INICIA CONTENDOR DE FORMULARIOS -->

{% if mensaje_error %}
    {{ mensaje_error }}
{% else %}
    <!-- INICIO DE CONTENIDO -->
    <section class="content">
      <div class="row">
          <div class="col-md-12">
              <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Control de pagos</h3>
                </div>
                <div class="box-body">
                  <div class="col-md-9">
                    <div class="panel-page">
                      <div class="toolbar-search">
                        <div class="box-body">
                            <form action="" method="POST" class="form-horizontal" id="1">{% csrf_token %}
                                {% csrf_token %}
                                    <div class="col-md-2">
                                      <div class="form-group">
                                      <label>Año</label>
                                        <select name="anio"  class="form-control">
                                            {% for anio in anios %}
                                                <option>{{ anio }}</option>
                                            {% endfor %}
                                        </select>
                                      </div>
                                    </div>
                                    <div class="col-md-3">
                                      <div class="form-group">
                                      <label>Mes</label>
                                        <select name="mes"  class="form-control">
                                            {% for mes in meses %}
                                                <option>{{ mes }}</option>
                                            {% endfor %}
                                        </select>
                                      </div>
                                    </div>
                                    <div class="col-md-4">
                                      <div class="form-group">
                                      <label>Tipo de pago</label>
                                        <select name="tipo_pago"  class="form-control">
                                            {% for tipo_pago in tipos_pagos %}
                                                {% if tipo_pago == "Todos" %}
                                                    <option value="Todos">Todos</option>
                                                {% else %}
                                                    <option>{{ tipo_pago.descripcion }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                      </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="search-actions">
                                          <button type="submit" class="btn btn-primary btn-block">
                                          <i class="fa fa-search" aria-hidden="true"></i>
                                           Buscar
                                          </button>
                                        </div>
                                    </div>
                            </form>
                        </div>
                      </div>

                      <div class="box-body">
                        <!-- BAR CHART -->
                        <div class="box box-success">
                          <div class="box-header with-border">
                              {% if not mes_llega %}
                                  <h3 class="box-title">Reporte de gastos</h3>
                              {% elif mes_llega == "Todos" %}
                                  <h3 class="box-title">Reporte de gastos del año {{ anio_llega }}</h3>
                              {% else %}
                                  <h3 class="box-title">Reporte de gastos del mes de {{ mes_llega }} del {{ anio_llega }}</h3>
                              {% endif %}
                          </div>
                          <div class="box-body">
                            <div class="chart">
                              <canvas id="canvas" width="400" height="250"></canvas>
                            </div>
                          </div>
                        </div>
                        <!-- BAR CHART -->

                        <div class="box box-success">
                          <div class="box-header with-border">
                              {% if not mes_llega %}
                                  <h3 class="box-title">Detalle de los gastos</h3>
                              {% elif mes_llega == "Todos" %}
                                  <h3 class="box-title">Detalle de los gastos del año {{ anio_llega }}</h3>
                              {% else %}
                                  <h3 class="box-title">Detalle de los gastos del mes de {{ mes_llega }} del {{ anio_llega }}</h3>
                              {% endif %}
                          </div>
                          <div class="box-body">
                          {% if pagos_colegio %}
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <th>Proveedor RUC</th>
                                        <th>Fecha</th>
                                        <th>Tipo de pago</th>
                                        <th>Monto S/.</th>
                                        <th>N° de comprobante</th>
                                    </tr>

                                    <tr>
                                        {% for pago in pagos_colegio %}
                                            {% if not pago.orderDate %}
                                                <tr>
                                                    <td>{{ pago.proveedor.proveedor.ruc }}</td>
                                                    <td>{{ pago.fecha.date }}</td>
                                                    <td>{{ pago.tipo_pago.descripcion}}</td>
                                                    <td>S/.{{ pago.monto }}</td>
                                                    <td>{{ pago.numero_comprobante }}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                </tbody>
                            </table>

                          <div class="col-md-2">
                                <div class="search-actions">
                                    <form action="{% url 'payments:exportPago' %}">
                                        <button type="submit" value="Detalle" class="btn btn-default">
                                            <i class="fa fa-circle" aria-hidden="true"></i>
                                            Exportar
                                        </button>
                                    </form>
                                </div>
                            </div>

                          {% endif %}
                          </div>

                        </div>
                      </div>
                    </div>

                  </div>
                    </div>
              </div>
              <div class="col-md-3"></div>
          </div>
      </div>
    </section>
    <!-- /.FIN DE CONTENIDO -->
{% endif %}
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script src="{% static 'components/jquery/dist/jquery.min.js' %}"></script>
<!-- jQuery UI 1.11.4 -->
<script src="{% static 'components/jquery-ui/jquery-ui.min.js' %}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<!-- Bootstrap 3.3.7 -->

<script src="{% static 'components/chart.js/dist/Chart.min.js' %}"></script>

<script>

        var color = Chart.helpers.color;
        var barChartData = {
            labels: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Setiembre", "Octubre", "Noviembre", "Diciembre"],
            datasets: [{
                label: 'Monto gastos',
                backgroundColor:[
                  "rgba(255, 99, 132, 0.8)",
                  "rgba(255, 99, 132, 0.8)",
                  "rgba(255, 99, 132, 0.8)",
                  "rgba(255, 99, 132, 0.8)",
                  "rgba(255, 99, 132, 0.8)",
                  "rgba(255, 99, 132, 0.8)",
                  "rgba(255, 99, 132, 0.8)",
                  "rgba(255, 99, 132, 0.8)",
                  "rgba(255, 99, 132, 0.8)",
                  "rgba(255, 99, 132, 0.8)",
                  "rgba(255, 99, 132, 0.8)",
                  "rgba(255, 99, 132, 0.8)"
                  ],
                data: {{ monto_mes_total }}
            }]
        };
        window.onload = function() {
            var ctx = document.getElementById("canvas").getContext("2d");
            window.myBar = new Chart(ctx, {
                type: 'bar',
                data: barChartData,
                options: {
                    responsive: true,
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Gráfico de gastos por meses',
                        fontSize: 22
                    },
                    scales: {
                        xAxes: [{
                            stacked: true,
                        }],
                        yAxes: [{
                            stacked: false
                        }]
                    }
                }
            });
        };

</script>

{% endblock container %}

