{% extends "page.html" %}
{% block title %}{{ block.super }}Remesas{% endblock %}

{% block container %}


    <!--Comienza el contenido!!!!!!!!!!!!!!!!!!!-->

    <div class="content-wrapper">
    <!-- HEADER INFO PAGE UBICACION -->
    <section class="content-header">
        <h1>
            Lista de remesas
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li>Modúlo de facturación</li>
            <li class="active">Lista de remesas</li>
        </ol>
    </section>
        <!-- FIN DE INFO PAGE UBICACION -->
        <!-- INICIO DE CONTENIDO -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Lista de remesas</h3>
                        </div>
                        <form role="form" name="search" action="" class="form-horizontal">
                            <div class="box-body">
                                <div class="col-md-9">
                                    <div class="panel-page">
                                        <div class="toolbar-header">
                                            <a class="btn btn-success" href='{% url "cash:consignment_create" %}'><i class="fa fa-plus" aria-hidden="true"></i>  Crear remesa</a>
                                        </div>
                                        <div class="toolbar-search">
                                            <div class="box-body">


                                                <form method="get">



                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <script>
                                                            function sync(){
                                                                var n1 = document.getElementById('text');
                                                                var n2 = document.getElementById('id_fechacreacion__range');
                                                                n2.value = n1.value;}

                                                            function yolo() {
                                                                for (i = 0; i < 3;) {
                                                                    if (i == 0) {
                                                                        var valorname = document.getElementById('nombre').value ;
                                                                        document.getElementById('elemento1').innerHTML = valorname;
                                                                        i = i+1
                                                                    } else if (i==1) {
                                                                        for (i = 0; i < 2;) {
                                                                            if (i == 0) {
                                                                                var str = document.getElementById("elemento1").innerHTML;
                                                                                var res = str.replace(/-/g, ",");
                                                                                document.getElementById("elemento1").innerHTML = res;
                                                                                i = i+1
                                                                            } else if (i==1) {
                                                                                var str = document.getElementById("elemento1").innerHTML;
                                                                                var res = str.replace(/\//g, "-");
                                                                                document.getElementById("elemento1").innerHTML = res;
                                                                                i = i+1
                                                                            }
                                                                        }
                                                                        i = i+1
                                                                    }
                                                                }
                                                                var text = document.getElementById('elemento1').innerHTML;
                                                                document.getElementById('id_fechacreacion__range').value = text;
                                                            }
                                                        </script>

                                                        <label>Fecha de remesa:</label>
                                                        <div class="input-group date">
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-calendar"></i>
                                                            </div>


                                                            <input type="text" id="nombre" onchange="yolo()" class="form-control pull-right datepicker">

                                                            <div style="display: none;">
                                                                <p id="elemento1"></p>

                                                                {{ filter.form.as_p }}
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="search-actions">
                                                        <button type="submit" class="btn btn-primary">
                                                            <i class="fa fa-search" aria-hidden="true"></i>
                                                            Buscar remesa
                                                        </button>
                                                    </div>
                                                </div>

                                                </form>




                                            </div>
                                        </div>
                                    </div>
                                    <table class="table table-hover">
                                        <tr class="table-header">
                                            <th>Item</th>
                                            <th>Encargo de remesa</th>
                                            <th>Monto S/.</th>
                                            <th>Comentario</th>
                                            <th>Fecha</th>
                                            <th class="text-center">Acciones</th>
                                        </tr>
                                        <div id="Lista">
                                        {% for remesa in filter.qs %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ remesa.personal_colegio }}</td>
                                                <td>S/ {{ remesa.monto }}</td>
                                                <td>{{ remesa.comentario }}</td>
                                                <td>{{ remesa.fechacreacion }}</td>
                                                <td class="text-center">
                                                    <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                                        <a href='{% url "cash:consignment_detail" remesa.id_remesa %}' class="btn btn-default">
                                                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </div>
                                    </table>
                                </div>
                            </div>
                        </form>
                </div>
            </div>
    </div>
    </section>
    <!-- /.FIN DE CONTENIDO -->
  </div>
  <!-- /.FIN DE CONTENEDOR DE FORMULARIO  -->


<script>
    $(function () {
      //Date range picker
      $('.datepicker').daterangepicker()
      //$('.datepicker').datepicker()
  });
</script>

    <!--Fin del contenido!!!!!!!!!!!-->

{% endblock container %}

