{% extends "page.html" %}

{% block title %}{{ block.super }}Ingresos{% endblock %}

{% load staticfiles %}

{% block titulo %}
      <h1>
        Reporte de Recaudación
        <small>Módulo de Facturación</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li>Módulo de Facturación</li>
        <li class="active">Reporte de Recaudación</li>
      </ol>
{% endblock %}

{% block container %}

      <!-- INICIA CONTENDOR DE FORMULARIOS -->
{% if mensaje_error %}
    {{ mensaje_error }}
{% else %}
    <!-- INICIO DE CONTENIDO -->
    <section>
      <div class="row">
          <div class="col-md-12">
              <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Control de Ingresos</h3>
                </div>
                <div class="box-body">
                  <div class="col-md-9">
                    <div class="panel-page">
                      <div class="toolbar-search">
                        <div class="box-body">
                            <form action="" method="POST" class="form-horizontal" id="1">{% csrf_token %}
                                {% csrf_token %}
                                    <div class="col-md-2">
                                      <div class="form-group">
                                      <label>Año</label>
                                        <select name="anio"  class="form-control">
                                            {% for anio in anios %}
                                                {% if anio_actual == anio %}
                                                    <option selected>{{ anio }}</option>
                                                {%  else %}
                                                    <option>{{ anio }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                      </div>
                                    </div>
                                    <div class="col-md-3">
                                      <div class="form-group">
                                      <label>Mes</label>
                                        <select name="mes"  class="form-control">
                                            {% for mes in meses %}
                                                <option>{{ mes }}</option>
                                            {% endfor %}
                                        </select>
                                      </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="search-actions">
                                          <button type="submit" class="btn btn-primary btn-block">
                                          <i class="fa fa-search" aria-hidden="true"></i>
                                           Consultar
                                          </button>
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>

                    <div class="box-body">
                        <!-- BAR CHART -->
                        <div class="box box-success">
                          <div class="box-header with-border">
                              {% if not mes_llega %}
                                  <h3 class="box-title">Reporte de Recaudación</h3>
                              {% elif mes_llega == "Todos" %}
                                  <h3 class="box-title">Reporte de Recaudación del año {{ anio_llega }}</h3>
                              {% else %}
                                  <h3 class="box-title">Reporte de Recaudación del mes de {{ mes_llega }} del {{ anio_llega }}</h3>
                              {% endif %}
                          </div>
                          <div class="box-body">
                            <div class="chart">
                              <canvas id="canvas" width="400" height="250"></canvas>
                            </div>
                          </div>
                        </div>
                        <!-- BAR CHART -->

                        <!-- BAR CHART -->
                        <div class="box box-success">
                          <div class="box-header with-border">
                              {% if not mes_llega %}
                                  <h3 class="box-title">Monto Recaudado por Población</h3>
                              {% elif mes_llega == "Todos" %}
                                  <h3 class="box-title">Monto Recaudado por Población de este mes</h3>
                              {% else %}
                                  <h3 class="box-title">Monto Recaudado por Población del mes de {{ mes_llega }} del {{ anio_llega }}</h3>
                              {% endif %}
                          </div>
                          <div class="box-body">
                            <div class="chart">
                              <canvas id="canvas2" style="height:230px"></canvas>
                            </div>
                          </div>
                        </div>
                        <!-- BAR CHART -->
                    </div>

                    </div>
                    </div>


                  </div>
                  <div class="col-md-3"></div>

                </div>



              </div>
          </div>
      </div>
    </section>
    <!-- /.FIN DE CONTENIDO -->
{% endif %}

</div>
<!-- ./wrapper -->


<!-- jQuery 3 -->
<script src="{% static 'components/jquery/dist/jquery.min.js' %}"></script>
<!-- jQuery UI 1.11.4 -->
<script src="{% static 'components/jquery-ui/jquery-ui.min.js' %}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<!-- Bootstrap 3.3.7 -->

<script src="{% static 'components/chart.js/dist/Chart.min.js' %}"></script>

<script>
        
        var color = Chart.helpers.color;
        var barChartData = {
            labels: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Setiembre", "Octubre",
                 "Noviembre", "Diciembre"],
            datasets: [{
                label: 'Recaudado',
                backgroundColor:[
                  "rgba(255, 99, 132, 0.8)",
                  "rgba(255, 99, 132, 0.8)",
                  "rgba(255, 99, 132, 0.8)",
                  "rgba(255, 99, 132, 0.8)",
                  "rgba(255, 99, 132, 0.8)",
                  "rgba(255, 99, 132, 0.8)",
                  "rgba(255, 99, 132, 0.8)",
                  "rgba(255, 99, 132, 0.8)",
                  "rgba(255, 99, 132, 0.8)",
                  "rgba(255, 99, 132, 0.8)",
                  "rgba(255, 99, 132, 0.8)",
                  "rgba(255, 99, 132, 0.8)"
                  ],
                data: {{ cobro_total }}
            }, {
                label: 'Total a recaudar',
                backgroundColor: [
                  "rgba(0, 120, 184, 0.2)",
                  "rgba(0, 120, 184, 0.2)",
                  "rgba(0, 120, 184, 0.2)",
                  "rgba(0, 120, 184, 0.2)",
                  "rgba(0, 120, 184, 0.2)",
                  "rgba(0, 120, 184, 0.2)",
                  "rgba(0, 120, 184, 0.2)",
                  "rgba(0, 120, 184, 0.2)",
                  "rgba(0, 120, 184, 0.2)",
                  "rgba(0, 120, 184, 0.2)",
                  "rgba(0, 120, 184, 0.2)",
                  "rgba(0, 120, 184, 0.2)"
                ],
                data: {{ por_cobrar_total }}
            }]

        };
        var pieChartData = {
            labels: ["3 Años", "4 Años", "5 Años", "1 Prim", "2 Prim", "3 Prim", "4 Prim", "5 Prim", "6 Prim",
                                        "1 Sec", "2 Sec", "3 Sec", "4 Sec", "5 Sec"],
            datasets: [{
                label: 'Recaudado',
                backgroundColor:[
                  "rgba(100, 99, 255, 0.8)",
                  "rgba(100, 99, 255, 0.8)",
                  "rgba(100, 99, 255, 0.8)",
                  "rgba(100, 99, 255, 0.8)",
                  "rgba(100, 99, 255, 0.8)",
                  "rgba(100, 99, 255, 0.8)",
                  "rgba(100, 99, 255, 0.8)",
                  "rgba(100, 99, 255, 0.8)",
                  "rgba(100, 99, 255, 0.8)",
                  "rgba(100, 99, 255, 0.8)",
                  "rgba(100, 99, 255, 0.8)",
                  "rgba(100, 99, 255, 0.8)",
                  "rgba(100, 99, 255, 0.8)",
                  "rgba(100, 99, 255, 0.8)"
                  ],
                data: {{ cobro_total_grado }}
            }, {
                label: 'Total a recaudar',
                backgroundColor: [
                  "rgba(0, 120, 184, 0.2)",
                  "rgba(0, 120, 184, 0.2)",
                  "rgba(0, 120, 184, 0.2)",
                  "rgba(0, 120, 184, 0.2)",
                  "rgba(0, 120, 184, 0.2)",
                  "rgba(0, 120, 184, 0.2)",
                  "rgba(0, 120, 184, 0.2)",
                  "rgba(0, 120, 184, 0.2)",
                  "rgba(0, 120, 184, 0.2)",
                  "rgba(0, 120, 184, 0.2)",
                  "rgba(0, 120, 184, 0.2)",
                  "rgba(0, 120, 184, 0.2)",
                  "rgba(0, 120, 184, 0.2)",
                  "rgba(0, 120, 184, 0.2)"
                ],
                data: {{ por_cobrar_grado }}
            }]

        };
        window.onload = function() {
            var ctx = document.getElementById("canvas").getContext("2d");
            var ctx2 = document.getElementById("canvas2").getContext("2d");
            window.myBar = new Chart(ctx, {
                type: 'bar',
                data: barChartData,
                options: {
                    responsive: true,
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Gráfico de recaudación por meses',
                        fontSize: 22
                    },
                    scales: {
                        xAxes: [{
                            stacked: true,
                        }],
                        yAxes: [{
                            stacked: false
                        }]
                    }
                }
            });
            window.myBar2 = new Chart(ctx2, {
                type: 'bar',
                data: pieChartData,
                options: {
                    responsive: true,
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Gráfico de recaudación por grados',
                        fontSize: 22
                    },
                    scales: {
                        xAxes: [{
                            stacked: true,
                        }],
                        yAxes: [{
                            stacked: false
                        }]
                    }
                }
            });
        };

</script>

{% endblock container %}
