{% extends "page.html" %}

{% block breadcrumb %}
<h1>
        Control de Ingresos Padres
        <small>Modúlo de facturación</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li>Modúlo de facturación</li>
        <li class="active">Control de Ingresos Padres</li>
      </ol>
{% endblock %}

{% block title %}{{ block.super }}Ingresos{% endblock %}

{% block container %}
{% load crispy_forms_tags %}

{% if mensaje_error %}
    {{ mensaje_error }}
{% else %}
<!-- INICIO DE CONTENIDO -->
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Control de ingresos</h3>
        </div>
        <div class="box-body">
              <div class="col-md-9">
                <div class="panel-page">
                    <!--- TOOLBAR SEARCH -->
                    <div class="toolbar-search">
                    <div class="box-body">
                       <form action="" method="post" class="form-horizontal" id="1">{% csrf_token %}
                            {% csrf_token %}
                                <div class="col-md-4">
                                  <div class="form-group">
                                  <label>Alumno</label>
                                    <select name="alumno"  class="form-control">
                                        {% for alu in alumnos %}
                                            <option value="{{ alu.id_alumno }}">{{ alu.getNombreCompleto }}</option>
                                        {% endfor %}
                                    </select>
                                  </div>
                                </div>
                                <div class="col-md-2">
                                  <div class="form-group">
                                  <label>Año</label>
                                    <select name="anio"  class="form-control">
                                        {% for anio in anios %}
                                            <option>{{ anio }}</option>
                                        {% endfor %}
                                    </select>
                                  </div>
                                </div>
                                <div class="col-md-2">
                                  <div class="form-group">
                                  <label>Mes</label>
                                    <select name="mes"  class="form-control">
                                        {% for mes in meses %}
                                            <option>{{ mes }}</option>
                                        {% endfor %}
                                    </select>
                                  </div>
                                </div>
                                <div class="col-md-2">
                                  <div class="form-group">
                                  <label>Estado</label>
                                    <select name="estado"  class="form-control">
                                        {% for estado in estados %}
                                            <option>{{ estado }}</option>
                                        {% endfor %}
                                    </select>
                                  </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="search-actions">
                                      <button type="submit" class="btn btn-primary btn-block">
                                      <i class="fa fa-search" aria-hidden="true"></i>
                                       Consultar
                                      </button>
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>
                    <!-- TOOLBAR SEARCH -->
                    <!-- INICIO TABLA -->
                    <div class="table-responsive">
                    <table class="table table-condensed">
                    {% if object_list %}
                            <tr>
                                <th>Alumno</th>
                                <th>Fecha de vencimiento</th>
                                <th>Monto cancelado</th>
                                <th>A pagar S/.</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                            {% for cuenta in object_list %}
                                {% if not cuenta.orderDate %}
                                    <tr>
                                        <td>{{ cuenta.matricula.alumno.getNombreCompleto }}</td>
                                        <td>{{ cuenta.fecha_ven }}</td>
                                        <td>S/.{{ cuenta.getMonto }}</td>
                                        <td>S/.{{ cuenta.deuda }}</td>
                                        {% if cuenta.estado %}
                                            <td>
                                                <span class="label label-danger">No pagado</span>
                                            </td>
                                        {% else %}
                                            <td>
                                                <span class="label label-success">Pagado</span>
                                            </td>
                                        {% endif %}
                                        <td>
                                            <a href="#">Imprimir PDF</a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                    {% endif %}
                    </table>
                </div>
                    <!-- FIN TABLA -->
                </div>
              </div>
              <div class="col-md-3">

              </div>
        </div>
    </div>
{% endif %}
{% endblock container %}

