{%  extends "page.html" %}

{% block title %}{{ block.super }} Modulo de Facturación {% endblock %}

{% block breadcrumb %}
<h1>
        Registrar pago de ingreso
        <small>Modúlo de facturación</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li>Modúlo de facturación</li>
        <li class="active">Registrar pago de ingreso</li>
      </ol>
{% endblock %}

{% block container %}
<section class="content">
      <div class="row">
          <div class="col-md-12">
              <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Detalle de registro de ingreso</h3>
                </div>
                <div class="box-body">

                  <div id="detalle" class="detalle">

                    <div class="col-md-8">
                      <div class="alert alert-info" role="alert">
                        <p>
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        El registro se realizó con exito, a continuación puede imprimir o enviar por correo el detalle del pago
                        </p>
                      </div>
                      <div class="border-detalle">
                        <div class="row">
                          <div class="col-md-6">
                              <div class="logotipo">
                                Logotipo
                              </div>
                              <h3>{{ colegio.nombre }}</h3>
                              <p>RUC {{ colegio.ruc }}</p>
                          </div>
                          <div class="col-md-6">
                            <dl class="dl-horizontal">
                              <dt>
                                  N° de Recibo:
                              </dt>
                              <dd>
                                  011 - 2016
                              </dd>
                              <dt>
                                  Nombres del cliente:
                              </dt>
                              <dd>
                                  {{ alumno }}
                              </dd>
                              <dt>
                                  Grado y Sección:
                              </dt>
                              <dd>
                                  {{ tiposervicio }}
                              </dd>
                              <dt>
                                  Fecha de pago:
                              </dt>
                              <dd>
                                  {{ fecha }}
                              </dd>
                              <dt>
                                  Cajero de registro:
                              </dt>
                              <dd>
                                  {{ cajero }}
                              </dd>
                            </dl>
                          </div>

                        </div>

                      </div>
                      <div class="border-detalle">
                          <table class="table table-bordered">
                            <tr class="table-header">
                              <th>ID</th>
                              <th>Descripción Producto</th>
                              <th>Precio/Costo</th>

                            </tr>
                              {% for servicio in servicios %}
                            <tr>
                              <td>183</td>
                              <td>{{ servicio.cuentascobrar.servicio.nombre }} de {{ servicio.cuentascobrar.servicio.tipo_servicio }} del {{ servicio.cuentascobrar.fecha_ven }}</td>
                              <td>{{ servicio.monto }}</td>

                            </tr>
                              {% empty %}
                              {% endfor %}

                            </tr>
                            <tr>
                              <td colspan="2" class="table-bold-print">Sub Total</td>
                              <td class="table-price-print">S/.{{ subtotal }}</td>
                            </tr>
                            <tr>
                              <td colspan="2" class="table-bold-print">Descuento</td>
                              <td class="table-price-print">S/.{{ descuento }}</td>
                            </tr>
                            <tr>
                              <td colspan="2" class="table-bold-print">Total</td>
                              <td class="table-price-print">S/.{{ total }}</td>
                            </tr>

                          </table>
                      </div>
                      <div class="border-detalle">
                          <div class="col-md-7">
                          <form class="form-inline">
                            <div class="form-group">
                              <div class="input-group">
                                <div class="input-group-addon">
                                  <i class="fa fa-envelope" aria-hidden="true"></i>
                                </div>
                                <input type="text" class="form-control" id="exampleInputAmount" placeholder="Ingresar correo electronico">

                              </div>
                              <button type="submit" class="btn btn-primary">Enviar constancia de pago</button>
                            </div>
                          </form>
                          </div>
                          <form name="imprimirconstancia" id="imprimirconstancia">{% csrf_token %}
                              <div class="col-md-5">
                                  <input hidden id="cobranza" name="cobranza" value="{{ cobranza }}" >
                                  <input hidden id="alumno" name="alumno" value="{{ alumno.id_alumno }}" >
                                  <button formmethod="post" formaction="{% url 'income:generar_pdf' %}" form="imprimirconstancia" class="btn btn-success" ><i class="fa fa-print" aria-hidden="true"></i> Imprimir constancia de pago</button>
                          </div>
                          </form>

                        </div>
                    </div>
                    <div class="col-md-4">

                    </div>

                  </div>
                </div>
              </div>
          </div>
      </div>
</section>
{% endblock %}