{%  extends "page.html" %}

{% block title %}{{ block.super }}Ingresos{% endblock %}

{% block titulo %}
      <h1>
        Registrar Ingreso
        <small>Módulo de Facturación</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li>Módulo de Facturación</li>
        <li class="active">Registrar Ingreso</li>
      </ol>
{% endblock %}

{% block container %}
<section>
      <div class="row">
          <div class="col-md-12">
              <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Registrar Ingreso</h3>
                </div>
                <div class="box-body">
                  <div class="col-md-9">
                    <div class="panel-page">
                      <div class="toolbar-search">

                        <form id="filtro" role="form" name="search" action="" class="form-horizontal">
                          <div class="form-group">
                              <label class="col-sm-3 control-label">Criterio de Búsqueda</label>
                              <div class="col-sm-9">
                                <div class="radio">
                                  <label>
                                    <input name="filter" id="optionsRadios1" value="DNI" checked="checked" type="radio">
                                    Por DNI Alumno
                                  </label>
                                </div>
                                
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-sm-3 control-label"></label>
                              <div class="col-sm-9">
                                <div class="input-group">
                                {% if alerta == False %}
                                    {% if dato == 1 %}
                                  <input id="dato" name="dato" class="form-control" type="text" placeholder="Escriba el DNI o Apellido a buscar">
                                    {% else %}
                                    <input id="dato" name="dato" class="form-control" type="text" placeholder="Escriba el DNI o Apellido a buscar" value="{{ dato }}">
                                    {% if pknum == None %}
                                        <a>No se encontron coincidencias</a>
                                    {% else %}
                                    {% endif %}
                                    {% endif %}
                                    <span class="input-group-btn">
                                      <button type="submit" form="filtro" formmethod="get" class="btn btn-success">
                                      <i class="fa fa-plus" aria-hidden="true"></i> Buscar</button>
                                 {% else %}
                                        <a>No hay ninguna caja abierta---->>>></a>

                                        <a>Para continuar primero aperturar una Caja</a>
                                  {% endif %}
                                  </span>
                                </div>
                              </div>
                            </div>

                        </form>

                      </div>
                      <div class="panel-body">
                                <table class="table table-hover">
                                  <tr class="table-header">
                                    <th class="text-center">Acciones</th>
                                    <th>ID</th>
                                    <th>Descripción Producto</th>
                                    <th>Alumno</th>
                                    <th>Monto Total</th>
                                    <th>Pago Completo</th>
                                    <th>Pago en Cuotas</th>
                                  </tr>
                                    <form name="ListaPagos" id="ListaPagos">{% csrf_token %}

                                        <input hidden name="persona" value="{{ pknum }}">
                                    {% for cuentas in cuentascobrar %}

                                          <tr>
                                            <td>
                                              <div class="checkbox">
                                                <label>
                                                  <input id="check{{ cuentas.id_cuentascobrar }}" name="seleccionado{{ cuentas.id_cuentascobrar }}" type="checkbox" onChange="nombre(this)">
                                                </label>
                                              </div>
                                            </td>
                                            <td>{{ cuentas.id_cuentascobrar }}</td>
                                            <td>{{ cuentas.servicio.nombre  }} de {{ cuentas.servicio.tipo_servicio }} del {{ cuentas.fecha_ven }}</td>
                                            <td>{{ cuentas.matricula.alumno }}</td>
                                            <td>{{ cuentas.deuda }}</td>
                                            <td>
                                              <div class="radio">
                                                <label>
                                                  <input type="radio" name="optionsRadios{{ cuentas.id_cuentascobrar }}" onchange="nombre()" id="eleccion1{{ cuentas.id_cuentascobrar }}" value="1" checked>
                                                  <input hidden type="text" name="montototal{{ cuentas.id_cuentascobrar }}" id="montototal{{ cuentas.id_cuentascobrar }}" value="{{ cuentas.deuda }}">
                                                </label>
                                              </div>
                                            </td>
                                            <td>
                                              <div class="radio">
                                                <label>
                                                  <input type="radio" name="optionsRadios{{ cuentas.id_cuentascobrar }}" onchange="nombre()" id="eleccion2{{ cuentas.id_cuentascobrar }}" value="2">
                                                  <input type="text" class="form-control"  onchange="nombre()" name="montoparcial{{ cuentas.id_cuentascobrar }}" id="montoparcial{{ cuentas.id_cuentascobrar }}"  value="0">
                                                </label>
                                              </div>
                                            </td>
                                          </tr>
                                    {% empty %}
                                        <a>Seleccionar un criterio de busqueda</a>
                                    {% endfor %}
                                    </form>
                                  <!-- <tr>
                                    <td colspan="5" class="table-bold-print">Sub Total</td>
                                    <td class="table-price-print">S/.<input type="text" id="subtotal" name="subtotal" value="0" disabled class="form-control"></td>
                                    <td>&nbsp;</td>
                                  </tr>
                                  <tr>
                                    <td colspan="5" class="table-bold-print">Descuento</td>
                                    <td class="table-price-print">S/.0.00</td>
                                    <td>&nbsp;</td>
                                  </tr>-->
                                  <tr>
                                    <td colspan="5" class="table-bold-print">Total</td>
                                    <td class="table-price-print">S/.<input type="text" id="gato" name="gato" value="0" disabled class="form-control"></td>
                                    <td>&nbsp;</td>
                                  </tr>
                                </table>

                                <div class="form-group">
                                <div class="col-md-12">
                                  <div class="pull-right">
                                    <a href="javascript:history.back()" class="btn btn-default">Cancelar</a>
                                    <button name="enviar" type="submit" form="ListaPagos" formmethod="post" class="btn btn-success" disabled><i class="fa fa-check" aria-hidden="true"></i> Registrar Ingreso</button>
                                  </div>
                                </div>
                                </div>

                            </div>
                    </div>
                  </div>
                  <div class="col-md-3">

                  </div>
                </div>
              </div>
          </div>
      </div>
</section>


<script>
function seleccion(id) {
    var x = document.getElementById(id).checked;
    return x;
}
function  seleccionado() {
    return false;
}
</script>
<script src="jquery-1.3.2.min.js" type="text/javascript"></script>
<script>
function nombre(obj) {
    document.ListaPagos.elements.enviar.disabled = true;
    var seleccionados_array = [];
    $('input[name^="seleccionado"]').each( function() {
        if(this.checked == true){

            seleccionados_array.push(true);
        }
        else {
            seleccionados_array.push(false);
        }

    });
    var parcial_array = [];
    var total_array = [];
    $('input[name^="optionsRadios"]').each( function() {
        if(this.value == 1){
            if(this.checked == true){
                total_array.push(true);

            }
            else{
                total_array.push(false);
            }
        }
        else {
            if(this.checked == true){
                parcial_array.push(true);
            }
            else {
                parcial_array.push(false);
            }
        }

    });
    var monto_total_array = [];
    $('input[name^="montototal"]').each( function() {
        monto_total_array.push(this);
    });
    var monto_parcial_array = [];
    $('input[name^="montoparcial"]').each( function() {
        monto_parcial_array.push(this);
    });
    for(var x = 0;x < seleccionados_array.length; x++){
        if(seleccionados_array[x]==true){
            if(total_array[x]==false){
                if(parseFloat(monto_total_array[x].value)<parseFloat(monto_parcial_array[x].value)){
                    monto_parcial_array[x].value = monto_total_array[x].value;
                }
            }

        }
    }


    var total = document.getElementById("gato");
    var temp = 0;
    for(var x = 0;x < seleccionados_array.length; x++){
        if(seleccionados_array[x]==true){
            if(total_array[x]==true){
                temp = temp + parseFloat(monto_total_array[x].value);
            }
            else{
                temp = temp + parseFloat(monto_parcial_array[x].value);
            }
        }
    }
    total.value = temp;
    if(temp > 0){
        document.ListaPagos.elements.enviar.disabled = false;
    }
    return true;
}


</script>

{% endblock %}
