{% extends "page.html" %}

{% block title %}{{ block.super }}Matricula{% endblock %}


{% block breadcrumb %}
<h1>
        Registrar Pago
        <small>Modúlo de facturación</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li>Modúlo de facturación</li>
        <li class="active">Registrar Pago</li>
      </ol>
{% endblock %}

{% block container %}
<section class="content">
      <div class="row">
          <div class="col-md-12">
              <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Registrar pago</h3>
                </div>
                <div class="box-body">
                  <div class="col-md-9">
                    <div class="panel-page">
                            <div class="box-body">
                                <a class="btn btn-success" href="{% url 'registers:proveedor_create' %}" >Crear Nuevo Proveedor</a>

                                <form action="" method="POST" class="form-horizontal" id="1">{% csrf_token %}
                                    {% csrf_token %}
                                    {{ form.as_p}}
                                </form>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <a class="btn btn-default" href="{% url 'payments:registrarpago_create' %}">Cancelar</a>
                                        <button type="submit" onclick="saldoinsuficiente()" class="btn btn-success" formaction="{% url 'payments:registrarpago_create' %}" form="1">Registrar Pago</button>
                                    </div>
                                </div>

                            </div>

                            <label colspan="5" class="table-bold-print">Saldo en Caja Chica</label>
                            S/.<input disabled value=" {{ saldo }}" name="saldo" id= "saldo" class="form-control">



                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
</section>



{% endblock container %}

{% block scripts %}
<script type="text/javascript">
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2();
  });
</script>
<script type="text/javascript">
function saldoinsuficiente() {
    //Initialize Select2 Elements
    if (parseInt(id_monto.value) > parseInt(saldo.value)) {
        alert("Saldo Insuficiente")
    }
};
</script>
{% endblock %}