{% extends "page.html" %}
{% block title %}{{ block.super }}Remesas{% endblock %}

{% block container %}

    <!--Comienza el contenido!!!!!!!!!!!!!!!!!!!-->
BoxCashier List

<p>
    <a href="{% url "cash:boxcashier_AperturarCaja" %}">Aperturar Caja</a>
     <!--<a href="{ url "cash:boxcashier_CerrarCaja" %}">Cerrar Caja</a>                PARA CERRAR CAJA ANTES DEBE DE HABER UNA APERTURA DE CAJA
            DENTRO DE LA LÓGICA DE CERRAR CAJA AL MOMENTO DE DARLE CERRAR CAJA ES UN UPDATE DE LA TABLA CAJACAJERO DONDE SE CAMBIÁN CIERTOS VALORES, PERO SE DEBE INGRESAR LA LLAVE PRIMARIA
            QUE SE DEBE MODIFICAR POR ESO SALE EL ERROR -->
</p>


    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    </head>
    <body>

        <table>
            <tr>
                <th>Item</th>
                <th>Cajero</th>
                <th>N° de Caja</th>
                <th>Monto de Apertura</th>
                <th>Monto de Cierre</th>
                <th>Saldo</th>
                <th>Fecha Creación</th>
                <th></th>
            </tr>
            {% for cajacajero in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ cajacajero.personal_colegio }}</td>
                <td>{{ cajacajero.caja }}</td>
                <td>{{ cajacajero.monto_apertura }}</td>
                <td>{{ cajacajero.monto_cierre }}</td>
                <td>{{ cajacajero.saldo }}</td>
                <td>{{ cajacajero.fecha_creacion }}</td>
                <td class="text-center">
                    {% if cajacajero.estado == 1 %}
                    <div class="btn-group btn-group-sm" role="group" aria-label="...">
                        <a href='{% url "cash:boxcashier_detail" cajacajero.id_movimiento %}' class="btn btn-default">
                            <i class="fa fa-info-circle" aria-hidden="true"></i> Detalles
                        </a>
                        <a href='{% url "cash:boxcashier_CerrarCaja" cajacajero.id_movimiento %}' class="btn btn-default">
                            <i class="fa fa-info-circle" aria-hidden="true"></i> Cerrar Caja
                        </a>
                    </div>
                    {% else %}
                    <div class="btn-group btn-group-sm" role="group" aria-label="...">
                        <a href='{% url "cash:boxcashier_detail" cajacajero.id_movimiento %}' class="btn btn-default">
                            <i class="fa fa-info-circle" aria-hidden="true"></i> Detalles
                        </a>
                        <a disabled class="btn btn-default">
                            <i class="fa fa-info-circle" aria-hidden="true"></i> Cerrar Caja
                        </a>
                    </div>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </body>


    <!--Fin del contenido!!!!!!!!!!!-->

{% endblock container %}

