{% extends "page.html" %}

{% block title %}{{ block.super }}Descuentos{% endblock %}

{% block breadcrumb %}
<h1>
        Resumen de Solicitudes de Descuentos
        <small>Modúlo Descuentos</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Modúlo Descuentos</li>
      </ol>
{% endblock %}

{% block container %}
    <!-- INICIO DE CONTENIDO -->
    <section class="content">
      <div class="row">
          <div class="col-md-12">
              <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Detalle de descuentos</h3>
                </div>
                <div class="box-body">
                  <div class="col-md-12">
                    <div class="panel-page">
                      <div class="toolbar-search">
                        <div class="box-body">
                           <form action="" method="post" class="form-horizontal" id="1">{% csrf_token %}
                                {% csrf_token %}
                                    <div class="col-md-4">
                                      <div class="form-group">
                                      <label>Alumno</label>
                                        {{ form.alumno }}
                                      </div>
                                    </div>
                                    <div class="col-md-2">
                                      <div class="form-group">
                                      <label>N° expediente</label>
                                        {{ form.numero_expediente }}
                                      </div>
                                    </div>
                                    <div class="col-md-2">
                                      <div class="form-group">
                                      <label>Año</label>
                                        {{ form.anio }}
                                      </div>
                                    </div>
                                    <div class="col-md-2">
                                      <div class="form-group">
                                      <label>Estado</label>
                                        {{ form.estado }}
                                      </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="search-actions">
                                          <button type="submit" class="btn btn-primary btn-block">
                                          <i class="fa fa-search" aria-hidden="true"></i>
                                           Consultar
                                          </button>
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th>Alumno</th>
                                <th>Fecha de solicitud</th>
                                <th>Tipo de descuento</th>
                                <th>N° expediente</th>
                                <th>Estado</th>
                            </tr>
                            <div id="div1">
                                <form id="ListaDescuentos">{% csrf_token %}
                                <tr>
                                    {% for descuento in object_list %}
                                        <tr>
                                            <td>{{ descuento.matricula.alumno.getNombreCompleto }}</td>
                                            <td>{{ descuento.fecha_solicitud }}</td>
                                            <td>{{ descuento.tipo_descuento.descripcion }}</td>
                                            <td>{{ descuento.numero_expediente }}</td>
                                            {% if descuento.estado == 1 %}
                                                <td>
                                                    <span class="label label-warning">Pendiente</div>
                                                </td>
                                            {% elif descuento.estado == 2 %}
                                                <td>
                                                    <span class="label label-success">Aprobado</div>
                                                </td>
                                            {% else %}
                                                <td>
                                                    <span class="label label-danger">No aprobado</div>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </form>
                                </tr>
                            </tbody>
                            </div>
                        </table>

                        <div class="col-md-2">
                            <div class="search-actions">
                                <form action="{% url 'discounts:aprobar_descuentos' %}">
                                    <button type="submit" value="Volver" class="btn btn-default">
                                        <i class="fa fa-reply" aria-hidden="true"></i>
                                        Volver
                                    </button>
                                </form>
                            </div>
                        </div>

                    </div>
                  </div>


                </div>
                <div class="col-md-3"></div>

                </div>

              </div>
          </div>
      </div>
    </section>
<!-- /.FIN DE CONTENIDO -->

{% endblock container %}