{% extends "page.html" %}

{% block title %}{{ block.super }}Descuentos{% endblock %}

{% block breadcrumb %}
<h1>
        Solicitar Descuentos
        <small>Modúlo Matricula</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li>Modúlo Matricula</li>

        <li class="active">Solicitar Descuentos</li>
      </ol>
{% endblock %}

{% block container %}
{% load crispy_forms_tags %}
<section class="content">
      <div class="row">
          <div class="col-md-12">
              <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Solicitar Descuentos</h3>
                </div>

                <div class="box-body">

                        <form action="" method="POST" class="form-horizontal" id="1">{% csrf_token %}
                            <div class="form-group">
                                    <label class="col-sm-2 control-label">Solicitente: </label>
                                    <div class="col-sm-10">
                                        <select name="matricula" class="form-control" id="id_matricula" required="">
                                          {% if alumno %}
                                            <option value="{{ alumno.pk }}">{{ alumno }}</option>

                                          {% else %}
                                            <option value="">No existen alumnos registrado</option>

                                          {% endif %}
                                        </select>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Descuento: </label>
                                    <div class="col-sm-10">

                                        <select name="tipo_descuento" class="form-control" id="id_tipo_descuento" required="">
                                          {% if descuentos %}

                                            {% for descuento in descuentos %}
                                                <option value="{{ descuento.pk }}">{{ descuento }}</option>
                                            {% endfor %}
                                          {% else %}
                                            <option value="">No existen tipos de descuento registrados</option>
                                          {% endif %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Nro. Expediente: </label>
                                    <div class="col-sm-10">

                                        {{ form.numero_expediente }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Comentario: </label>
                                    <div class="col-sm-10">

                                        {{ form.comentario }}
                                    </div>
                                </div>
                        </form>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <a class="btn btn-default" href="javascript:history.back()">Cancelar</a>
                                <button type="submit" class="btn btn-success" formaction="{% url 'discounts:crear_solicitud' %}" form="1">Crear Solicitud</button>
                            </div>
                        </div>

                </div>

              </div>
          </div>
      </div>
</section>



{% endblock container %}
