{% extends "page.html" %}

{% block titulo %}
    <h1>{{ form.title.label }}
        <small>Módulo de Facturación</small>
    </h1>
{% endblock %}

{% block container %}

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-body">


                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}

                <form id="registro" name="registro" action="" method="POST" class="form-horizontal">
                    {% csrf_token %}

                    <div class="col-md-9">
                    <!-- DATOS PERSONALES -->
                        <div class="box-header with-border">
                            <h3 class="box-title">Datos personales</h3>
                        </div>
                        <div class="box-body">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Nombre del Colegio</label>
                                    <div class="col-sm-9">
                                        {{ form.nombre }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">RUC</label>
                                    <div class="col-sm-9">
                                        {{ form.ruc }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">UGEL</label>
                                    <div class="col-sm-9">
                                        {{ form.ugel }}
                                    </div>
                                </div>

                            </div>

                        </div>
                    <!-- TERMINA DATOS PERSONALES -->

                    <!-- DATOS DE CONTACTO -->
                        <div class="box-header with-border">
                            <h3 class="box-title">Datos contacto y dirección</h3>
                        </div>
                        <div class="box-body">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Departamento</label>
                                        <div class="col-sm-9">
                                            {{ form.departamento }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Distrito</label>
                                        <div class="col-sm-9">
                                            <!--{{ form.distrito }}-->
                                            <select id="id_distrito" name="distrito" class="form-control">

                                                    </select>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Provincia</label>
                                        <div class="col-sm-9">
                                            <!--{{ form.provincia }}-->
                                            <select id="id_provincia" name="provincia" class="form-control">

                                                    </select>
                                        </div>
                                    </div>

                            </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Dirección</label>
                                        <div class="col-sm-9">
                                            {{ form.direccion }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Referencia</label>
                                        <div class="col-sm-9">
                                            {{ form.referencia }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Tipo Teléfono</label>
                                        <div class="col-sm-9">
                                            {{ form.tipo_cel }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label"></label>
                                        <div class="col-sm-9">
                                        {{ form.celular }}
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-success" name="agregartelefono" id="agregartelefono" onclick="agregarTelefono()">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </button>
                                                <button type="button" class="btn btn-danger" name="quitartelefono" id="quitartelefono" onclick="eliminarTelefono()">
                                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label"></label>
                                        <div class="col-sm-9">
                                            {{ form.celulares }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <a href="{% url 'registers:colegio_list' %}" class="btn btn-default">
                                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                        Regresar al listado
                                    </a>
                                    <button type="submit" class="btn btn-success"  onclick="enviarTelefono()">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                        Agregar colegio
                                    </button>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-3">
                        <!-- BLOQUE DE AYUDA -->
                        <!-- FIN DE BLOQUE DE AYUDA -->
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

{% block scripts %}
<script type="text/javascript">
    function enviarTelefono() {
        var cadena = "";
        var sw = true;
        $('input[name^="nros"]').each( function() {

            this.remove();

        });

        $('input[name^="telefono"]').each( function() {

                if (!sw) {
                    cadena += ","
                }else{
                    sw = false
                }

                cadena += this.value;
            });

        $('<input hidden/>').attr({ type: 'text', name: 'nros', value: cadena}).appendTo('#registro');
    }
    function agregarTelefono()
    {
        var telefono = $('#id_celular').val();
        var sw = true;
        if(telefono){
            $("#id_celulares").find("> option").each(function() {
                if(telefono == this.value)
                    sw = false;
            });
        }
        if(sw && telefono){
            $('#id_celulares').append("<option value=" + telefono + ">" + telefono + "</option>");
        }

        $('#id_celular').val("");

        $('<input hidden/>').attr({ type: 'text', name: 'telefono[]', value: telefono}).appendTo('#registro');
    }

    function eliminarTelefono()
    {
        $('#id_celulares').find('> :selected').each(function() {
            var telefono = this.value;
            $(this).remove();
            $('input[name^="telefono"]').each( function() {

                if (telefono == this.value){
                    this.remove();
                }

            });
        });
    }

    function seleccionarMultiselect() {
        $('#id_celulares option').prop('selected', true);

    }

</script>

    <script type="text/javascript">
     $('#id_departamento').change(function () {
            $('#id_provincia').empty();
            $('#id_distrito').empty();
            $('#id_provincia').append('<option value="-1">Seleccione</option>');
            $.ajax({
                    type: "GET",
                    url: "/registers/api/get_provincias",
                    datatype: "Json",
                    data: { id_dpto: $('#id_departamento').val() },
                    success: function (data) {
                        $.each(data, function (index, value) {
                            $('#id_provincia').append('<option value="' + value["id"] + '">' +
                                value["value"] + '</option>');
                        });
                    },
                    error: function (error) {
                        alert("Error Ajax not working: " + error);
                    }
                });

     }
    );
    </script>

    <script type="text/javascript">
     $('#id_provincia').change(function () {
            $('#id_distrito').empty();
            $('#id_distrito').append('<option value="-1">Seleccione</option>');
            $.ajax({
                    type: "GET",
                    url: "/registers/api/get_distritos",
                    datatype: "Json",
                    data: { id_prov: $('#id_provincia').val() },
                    success: function (data) {
                        $.each(data, function (index, value) {
                            $('#id_distrito').append('<option value="' + value["id"] + '">' +
                                value["value"] + '</option>');
                        });
                    },
                    error: function (error) {
                        alert("Error Ajax not working: " + error);
                    }
                });

     }
    );
    </script>



{% endblock scripts %}


{% endblock container %}