{% extends "page.html" %}

{% block container %}


<script language="Javascript">
function confirmDel()
{
  var agree=confirm("¿Realmente desea eliminarlo? ");
  if (agree)
    return true ;
  else
    return false ;
}
</script>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% for proveedor in proveedores %}
    <form id="{{ proveedor.id_proveedor }}">
        {% csrf_token %}
        <input hidden value="{{ proveedor.id_proveedor }}" name="idproveedor">
        <input hidden value="{{ proveedor.rol }}" name="perfil">
    </form>
{% endfor %}

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Lista de Proveedores</h3>
            </div>
                <form role="form" name="search" method="post" class="form-horizontal">
                    {% csrf_token %}
                    <div class="box-body">
                        <div class="col-md-9">
                            <div class="panel-page">
                                <div class="toolbar-header">
                                    {% if perms.register.proveedor_create %}
                                    <a class="btn btn-success" href="{% url 'registers:proveedor_create' %}">
                                        <i class="fa fa-plus" aria-hidden="true">
                                        </i>
                                        Crear Proveedor
                                    </a>
                                    {% endif %}
                                </div>
                                <div class="toolbar-search">
                                    <div class="box-body">
                                        <!--
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Número Documento de Identidad</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="dni" placeholder="Escriba el número"
                                                    id="numero_documento" name="numero_documento" value="{{ numero_documento }}">
                                                </div>
                                            </div>
                                        </div>
                                        -->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Razón Social</label>
                                                <input type="text" class="form-control" id="nombres"
                                                       placeholder="Razón Social" name="nombres"
                                                        value="{{ nombres }}">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="search-actions">
                                                <button type="submit" class="btn btn-primary" >
                                                    <i class="fa fa-search" aria-hidden="true"></i> Buscar Proveedor
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                <tbody>
                                    <tr class="table-header">
                                        <th>Código</th>
                                        <th>RUC</th>
                                        <th>Razón Social</th>
                                        <th>Perfil</th>
                                        <th class="text-center">Acciones</th>
                                    </tr>
                                {% for proveedor in proveedores %}
                                    <tr>
                                        <td>{{ proveedor.id_proveedor }}</td>
                                        <td>{{ proveedor.ruc }}</td>
                                        <td>{{ proveedor.razon_social }}</td>
                                        <td>Proveedor</td>
                                        <td>
                                            <div class="text-center">
                                                <div class="btn-group btn-group-sm" role="group" aria-level="">
                                                    <a title="Editar" href="{% url 'registers:proveedor_update' pk=proveedor.id_proveedor %}" class="btn btn-default">
                                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                                    </a>
                                                    <!--
                                                    <a title="Detalle" href="{% url 'registers:proveedor_detail' pk=proveedor.id_proveedor %}" class="btn btn-default">
                                                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                                                    </a>
                                                    -->
                                                    <button class="btn btn-default" type="submit" onclick="return confirmDel();" title="Eliminar" formaction="{% url 'registers:proveedor_delete' %}" formmethod="get" form="{{ proveedor.id_proveedor }}">
                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                    </button>
                                                    <!--
                                                    <a title="Baja" href="#" class="btn btn-default">
                                                        <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                                    </a>
                                                    -->
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            </div>
                            <div class="action-footer">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination">
                                        {% if empleados.has_previous  %}
                                            <li>
                                                <a href="?page={{ empleados.previous_page_number }}" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                        {% else %}
                                             <li class="disabled">
                                                 <span aria-hidden="true">«</span>
                                            </li>
                                        {% endif %}
                                        {% for i in empleados.paginator.page_range %}
                                            {% if empleados.number == i %}
                                                <li>
                                                    <span aria-hidden="true">{{ i }}</span>
                                                </li>
                                            {% else %}
                                                <li>
                                                    <a href="?page={{ i }}" aria-label="Previous">
                                                        <span aria-hidden="true">{{ i }}</span>
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if empleados.has_next %}
                                            <li>
                                                <a href="?page={{ page_obj.next_page_number  }}" aria-label="Previous">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        {% else %}
                                            <li class="disabled">
                                                <span aria-hidden="true">&raquo;</span>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </form>
        </div>
    </div>
</div>

{% endblock %}