[
    {
        "id": "{{ id_usuario}}",
        "name": "{{ nombre_usuario}}",
        "email": "{{ usuario_email }}",
<!--    "id_persona": "", -->
        "nombre": "{{ nombre_profile}}",
        "segundo_nombre": "{{ nombre2_profile }}",
        "apellido_pa": "{{ apellido_pa_profile }}",
        "apellido_ma": "{{ apellido_ma_profile }}",
<!--    "id_colegio": "", -->
        "colegio": [
                        {
                            "id_colegio": "{{ id_colegio }}",
                            "colegio": "{{ nombre_colegio }}",
                        }

                    ]
<!--    "ruc": "", -->
<!--    "ugel": "", -->
    }
]