{% extends "page.html" %}
{% block title %}{{ block.super }}Aulas{% endblock %}

{% block container %}

    <!--Comienza el contenido!!!!!!!!!!!!!!!!!!!-->
    <!-- INICIA CONTENDOR DE FORMULARIOS -->
    <div>
        <!-- HEADER INFO PAGE UBICACION -->
        <section class="content-header">
            <h1>
                Periodos Académicos
                <small>Modúlo Académico</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
                <li>Modúlo Académico</li>
                <li class="active">Periodos Académicos</li>
            </ol>
        </section>
        <!-- FIN DE INFO PAGE UBICACION -->
        <!-- INICIO DE CONTENIDO -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Detalle de Periodos Académicos</h3>
                            <div class="box-body">
                                <div class="col-md-9">
                                    <div class="panel-page">

                                        <div class="box-body">
                                                <fieldset disabled="disabled">
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Nombre</label>
                                                    <div class="col-sm-9">
                                                        {{ periodoacademico.nombre }}
                                                    </div>
                                                </div>
                                                </fieldset>
                                                <br>

                                                <div class="form-group">
                                                    <div class="col-sm-offset-2 col-sm-10">
                                                        <a href='{% url "academic:periodo_list" %}' class="btn btn-default"><i class="fa fa-arrow-left" aria-hidden="true"></i>
                                                        Regresar a la lista
                                                        </a>
                                                    </div>
                                                </div>
                                        </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
        </section>
        <!-- /.FIN DE CONTENIDO -->
    </div>
    <!-- /.FIN DE CONTENEDOR DE FORMULARIO  -->

    <!--Fin del contenido!!!!!!!!!!!-->

{% endblock container %}

